{% extends "email_templates/email_base_template.html" %}
{% load static %}

{% block title %}
Sistema ASOVAC: Asignación como {{ cargo }}
{% endblock %}


{% block content %}
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: right;">
            Caracas, {{ fecha }}
        </p>
    </td>
</tr>
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: left;">
            <strong>Estimado Investigador:</strong>
            <br>
            <strong>{{ autor_trabajo_principal.autor.nombres }} {{autor_trabajo_principal.autor.apellidos}}</strong>
        </p>
    </td>
</tr>
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: justify;">
            Reciba un cordial saludo del Comité Organizador de la Convención Anual de AsoVAC, en ocasión de informarle que el resumen titulado:
            <br>
        </p>
        <p style="text-align: center;">
            <strong>{{ autor_trabajo_principal.trabajo.titulo_espanol }}</strong>
        </p>
    </td>
</tr>
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: left;">
            Autores:
            <br>
        </p>
        <p style="text-align: center;">
            {% for autor_trabajo in autores_list %}
                <strong>{{ autor_trabajo.autor.nombres }} {{ autor_trabajo.autor.apellidos}}{% if autor_trabajo != autores_list.last %}, {% endif %}</strong>
            {% endfor %}
        </p>
    </td>
</tr>
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: justify;">
            Identificado con el código TAL ha sido debidamente arbitrado y los miembros del jurado lo han <strong><u>rechazado</u> para su presentación</strong> en la Convención Anual. Las razones del rechazo fueron las siguientes:
            <br>
            <br>
            {{ autor_trabajo_principal.trabajo.observaciones | safe }}
        </p>
    </td>
</tr>
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: justify;">
            Invitamos coordialmente a los autores a complementar el trabajo realizando, mejorando y ampliando su resumen, a fin de presentarlo a evaluación en otro evento o en la próxima Convención Anual AsoVAC, divulgando así el trabajo realizado y su aporte a la comunidad.
        </p>
    </td>
</tr>
{% endblock %}