{% extends "email_templates/email_base_template.html" %}
{% load static %}

{% block title %}
Sistema ASOVAC: Certificado de {{rol}}
{% endblock %}


{% block content %}
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: justify;">
            Buenas <strong>{{ usuario.nombres }} {{ usuario.apellidos }}</strong>, le agradecemos por su participación en el sistema asovac <strong>{{ sistema.nombre}}</strong>. Adjunto se encuentra el certificado que acrédita su participación como <strong>{{rol}}</strong>, gracias por ser parte de nuestra convención.
        </p>
    </td>
</tr>
{% endblock %}