{% extends "email_templates/email_base_template.html" %}
{% load static %}

{% block title %}
Sistema ASOVAC: Cambio de contraseña
{% endblock %}


{% block content %}
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: justify;">
            Hola {{ username }}, se le notifica que se ha llevado con éxito su cambio de contraseña.
        </p>
    </td>
</tr>
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: justify;">
            Su nueva contraseña es: <strong>{{ password }}</strong>
        </p>
    </td>
</tr>
{% endblock %}