{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body style="margin: 0; padding: 0;">
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    <table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                        <tr>
                            <td valing="middle" align="center" style="padding: 0px">
                                <a href="#" target="_blank">
                                    <img src="{% if arbitraje %}{{ arbitraje.cabecera }}{% else %}https://i.imgur.com/G1PXYZU.jpg{% endif %}" alt="Logo Header ASOVAC" style="width:100%; border:0;"/>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <!-- Relevant banner image goes here -->
                                {% block banner %}{% endblock %}
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" style="padding: 20px 30px 40px 30px;">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    {% block content %}{% endblock %}
                                    <tr>
                                        <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
                                            <!-- Email text goes here-->
                                            <p>
                                                Atentamente.<br />
                                                Sistema ASOVAC
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 0 0 0; font-family: Avenir, sans-serif; font-size: 12px;">
                                            <p style="text-align: center;">
                                                Este es un correo electrónico autogenerado por el sistema ASOVAC, por favor no responder a estos mensajes.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!--  Footer  o Pie de página -->
                        <tr>
                            <td bgcolor="{% if arbitraje %}{{ arbitraje.color_fondo_pie }}{% else %}#222222{% endif %}" style="padding: 5px 10px 5px 10px;">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td>
                                            <p style="color: {% if arbitraje %}{{ arbitraje.color_letras_pie }}{% else %}#ffffff{% endif %}; font-family: sans-serif; font-size: 16px;">Asociación Venezolana para el Avance de la Ciencia</p>
                                        </td>
                                        <td align="center">
                                            <a alt="Facebook site" href="">
                                                <img src="https://i.imgur.com/dRg9ESS.png" alt="facebook" style="display: block;border:0;" height="100%" width="50"/><!--{{ request.get_host }}-->
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
</html>