{% extends "email_templates/email_base_template.html" %}
{% load static %}

{% block title %}
Sistema ASOVAC: Recuperación de Contraseña
{% endblock %}

{% block banner %}
<img src="https://i.imgur.com/1OPHTlt.jpg" alt="Se ha recibido una solicitud para recuperar tu contraseña" style="display: block;border:0;" height="100%" width="600"/>
{% endblock %}

{% block content %}
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: justify;">
            Se ha recibido una solicitud de recuperación de contraseña desde esta dirección de correo. En caso de que usted no haya realizado esta solicitud o no desee recuperar su contraseña puede ignorar el resto de este mensaje.
        </p>
    </td>
</tr>
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: justify;">
            Para establecer una nueva contraseña, por favor haga click en el siguiente boton:<br/>
        </p>
    </td>
</tr>
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;text-align: center;">
        <!-- Email text goes here-->
        <a style="border-radius: 10px; background-color: #454BBE;color: white; padding: 15px 25px;text-align: center;text-decoration: none;display: inline-block;" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"> Establecer contraseña</a>
    </td>
</tr>
{% endblock %}