{% extends "email_templates/email_base_template.html" %}
{% load static %}

{% block title %}
Sistema ASOVAC: Error en pagos de postular trabajo en el sistema '{{sistema}}'
{% endblock %}

{% block content %}
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: justify;">
            Se le notifica que los pagos de la postulación del trabajo con título '{{ trabajo.titulo_espanol}}' han sido rechazados porque se han encontrado errores que señalaremos a continuación, por favor ingrese al sistema y en la lista de trabajos tendrá desbloqueada la opción para subir los pagos de nuevo.
            
        </p>
    </td>
</tr>
<tr>
    <td style="padding: 10px 0 10px 0; font-family: Avenir, sans-serif; font-size: 16px;">
        <!-- Email text goes here-->
        <p style="text-align: justify;">
            Se requiere que envíe los pagos de nuevo por los siguientes motivos:  {{ razones_rechazo }}
        </p>
    </td>
</tr>
{% endblock %}