body {
    padding-top: 80px;
    background-color: #EEEEEE;
}

/*==== Main Navbar structure ====*/
.navbar{
    margin :0;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 600;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important;
    padding-bottom:10px !important;
    height: 40px;
}

.navbar-nav > li > p {
    padding-top:10px !important;
    padding-right:15px !important;
    padding-bottom:10px !important;
    margin:0;
    height: 32px;
}

.navbar {
    min-height:30px !important
}

/*==== Main Navbar colors ====*/

.navbar-default {
    background-color: #2869BC;
    border-color: #BBBBBB;
}

/* Title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* Link */
.navbar-default .navbar-nav > li > a{
    color: #b3e3ff;
}

.navbar-default .navbar-nav > li > p,
.navbar-default .navbar-nav > li > p > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > p > a:hover {
    color: #b3e3ff;
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #205496;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/*==== Secondary Navbar structure ====*/
.secondary-navbar{
    margin-top: 41px;
    font-size: 16px;
    font-weight: 600;
    min-height:30px !important;
}

.secondary-navbar ul > li {
    margin: 0 5px;
}

.secondary-navbar > li > a, .navbar-brand {
    padding-top:10px !important;
    padding-bottom:10px !important;
    height: 40px;
}

.secondary-navbar ul > li > p {
    padding-top:10px !important;
    padding-right:15px !important;
    padding-bottom:10px !important;
    margin:0;
    height: 40px;
}

/*==== Secondary Navbar colors ====*/

.secondary-navbar{
    background-color: #FF7E46 ; /*#F2672A; */
    border-color: #E7E7E7;
}

.secondary-navbar .navbar-nav > li > p {
    color: #EEE
    ;
}

#menu-toggle-icon{
    font-size: 18px;
    color: #E7E7E7;
}

#menu-toggle{
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding-top: 11px;
    padding-left: 11px;
    background-color: #2869BC;
    width: 45px;
    height: 45px;
}

/*==== Fixed Sidebar & Content ====*/

#wrapper {
    display: flex;
    width: 100%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 999;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 160;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Raleway';
    font-size: 16px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li.active a {
    color: #FFFFFF;
    background: #FF7E46;
    font-weight: 600;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #222;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #222;
    background: #CFCFCF;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #222;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #222;
    background: none;
}

#content-wrapper {
    margin-top: 15px;
}

.RLcard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: solid #999 1px;
    background-color: #FFFFFF;
}

/* On mouse-over, add a deeper shadow */
.RLcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*==== Footer ====*/

#footer{
    width: 100%;
    height: 50px;
    background-color: #222;
    z-index: 1000;
}

#footer p{
    color: #EEE;
    padding-top: 15px;
    font-family: 'Raleway';
    font-weight: 600;
}