{% extends "base.html" %}

{% block content %}
<div class="login-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="jumbotron RLcard">
                    <div class="container-fluid">
                        <div class="row middle-content">
                            <div class="col-sm-12 text-center">
                                <img src="https://st.depositphotos.com/2317051/2602/v/950/depositphotos_26021667-stock-illustration-vector-cartoon-of-scientist-being.jpg" alt="Error 404 image" height ="600" width="70%">
                                

<h2><i class="fas fa-exclamation-triangle"></i> Error 404 - Página no conseguida</h2>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}