{% extends "base_users.html" %}

{% block content %}
<div class="min-height-content top-padding-40">
	<div class="container">
		<div class="row">
			<div class="jumbotron RLcard" style="background: linear-gradient(90deg, #DDD 50%, #FFF 50%);">
				<div class="row middle-content">
					<div class="col-md-6 text-center hidden-sm hidden-xs" >
						<i class="fa fa-exclamation-circle fa-fw" style="font-size: 250px; color: rgb(255, 126, 70);"></i><br/>
						<h2 style="color: rgb(255, 126, 70); text-shadow: 2px 2px 4px #FFF;">¡La página que busca no existe!</h2>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-md-6 text-center" style="padding-top: 80px; padding-bottom: 80px;">
						<div class="RLcard" 
							 style="padding-top: 10px; padding-bottom: 50px; background-color: rgb(40, 105, 188); border-radius: 15px;">
							<h1 style="font-size: 150px; color: rgb(250, 250, 250); text-shadow: 2px 2px 4px #333;">404</h1>
							<h2 style="font-size: 50px; color: rgb(250, 250, 250); text-shadow: 2px 2px 4px #333;">Error</h2>

						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock content %}