
{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="col-sm-6">
					<h2 class="text-left">Lista de Árbitros</h2>
				</div>

				<!-- Bootstrap table -->
				<div class="row">

					<div class="col-md-8">
					</div>
					<div class="col-sm-2 col-sm-offset-2 btn-lg align-right">
						<div class="btn-group">
							<button class="btn btn-block dropdown-toggle text-left" data-toggle="dropdown" data-hover="dropdown">Acciones <span
								class="caret"></span></button>
							<ul class="dropdown-menu">
								<li>
									<a href="#" class="showUsersForm" data-url="{% url 'main_app:load_users' arbitraje_id 4 %}" type="button"
									data-toggle="modal" data-target="#ModalTrabajosExcel"><i class="fa fa-upload"></i> Cargar Árbitros</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<input type="hidden" id="listArbitros" name="list" data-url="{% url 'arbitrajes:list_arbitros' %}">

				<div id="toolbar">
					<div class="form-inline" role="form">
						<a href="{% url 'main_app:generar_reporte' 1 %}" class="btn btn-default"><i class="fas fa-download"></i></a>
					</div>
				</div>
					<table id="table"
							data-toggle="table"
							data-ajax="ajaxArbitros"
							data-side-pagination="server"
							data-show-export="false"
							data-toolbar="#toolbar"
							data-pagination="true"
							data-page-size="5"
							data-page-list="[0,5,10,25,50,100, 200]"
							data-show-refresh="true"
							data-search="true"
							data-sort-name="pk"
							data-show-toggle="true"
							data-show-columns="true"
							data-detail-view="true"
							data-detail-formatter="detailFormatter"
							>
							<thead>
								<tr>
									<th data-field="first_name" data-sortable="true">Nombres</th>
									<th data-field="last_name" data-sortable="true">Apellidos </th>
									<th data-field="username" data-sortable="true">Nombre de usuario</th>
									<th data-field="email" data-sortable="true">Correo</th>
									<th data-field="operate" data-events="operateEvents" data-formatter="operateUsuarios" data-align="center">Acciones</th>
								</tr>
						</thead>
					</table>
				<!-- End Bootstrap table -->
		
			</div>
		</div>
	</div>
</div>

<!-- Modal Carga Excel-->
<div class="modal fade" id="ModalArbitrosExcel" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="ModalLongTitle">Cargar arbitros por excel</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center content-modal">
				¿Está seguro que desea cargar arbitros por el excel?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-primary btn-success">Cargar</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}



{% block js_extra %}
{% load static %}
	<!-- js extra -->
	<script src="{% static 'js/grid.js' %}"></script>
	<script>

		var $table = $('#table');
		// your custom ajax request here
		

		function ajaxArbitros(params) {
			var route= $("#listArbitros").attr("data-url");
			// console.log (route);
			//  console.log("llamada a ajax request");
			console.log(params.data);

			 $.ajax({
				 type: "post",
				 url: route,
				 data: params.data,
				 dataType: 'json',
				 success: function (data) {
					// console.log(data);
					// console.log(data.total)
					// console.log(data.query.query)
					params.success({
					total: data.total,
					rows: data.query.query
					});

				 }
			 });
		}
		
		function detailFormatter(index, row) {
		
		var html = [];
		var init= '<table class="table-bordered"><thead><tr>';
		var init=init+ '<th style="text-align: center;" >Cédula/Pasaporte</th>'; 
		var init=init+ '<th style="text-align: center;" >Título</th>'; 
		var init=init+ '<th style="text-align: center;" >Área</th>'; 
		var init=init+ '<th style="text-align: center;" >Línea de investigación</th>'; 
		var init=init+ '</tr></thead> <tr style="text-align: center;">'; 
		html.push(init);
		$.each(row, function (key, value) {
			if(key == "linea_investigacion" || key == "cedula_pasaporte" || key == "nombre" || key == "titulo"){
			html.push('<td >'+ value + '</td>');
			}
		});
		var fin= '</tr></table>';
		html.push(fin);
		return html.join('');
		}

		$("#export").click(function(){
        console.log("Descargar excel");
		var route= $("#listUsuarios").attr("data-url");
		type= $("#type_export").val();
	
		buildBoostrapTable($(this).attr("data-target"),type);

		});
		
		

	</script> 

{% endblock %}
