{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container-fluid" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="row">
					<div class="col-sm-12">
						<h2>Listado de trabajos</h2>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row middle-content">
						<div class="col-sm-12">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Título</th>
										<th>Área</th>
										<th>Subárea</th>
										<th>Autor(es)</th>
										<th>Estado</th>
										<th class="col-sm-1">Ver.</th>
										<th class="col-sm-2">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Este es un T&iacute;tulo</td>
										<td>Computaci&oacute;n</td>
										<td>Computaci&oacute;n001</td>
										<td>
											Rabindranath Ferreira
										</td>
										<td><span class="label label-success lb-md center-block">Aprobado</span></td>
										<td>2.0</td>
										<td>
											<a href="#" class="btn btn-sm btn-info" role="button" data-toggle="tooltip" data-placement="top" title="Editar">
												<i class="fas fa-edit"></i>
											</a>
											<a href="#" class="btn btn-sm btn-info" role="button" data-toggle="tooltip" data-placement="top" title="Rechazar">
												<i class="fas fa-times"></i>
											</a>
											<a href="#" class="btn btn-sm btn-info" role="button" data-toggle="tooltip" data-placement="top" title="Enviar">
												<i class="fas fa-envelope"></i>
											</a>
											<a href="{% url 'arbitrajes:detalles_resumen' %}" class="btn btn-sm btn-info" role="button" data-toggle="tooltip" data-placement="top" title="Entrar">
												<i class="fas fa-door-open"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
