

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Fixed Sidebar & Content-->
<div id="wrapper" class="toggled">

        {% include 'sidebar.html'%}
   
        <!-- Page Content -->
        <div class="container login-content" id="content-wrapper">
            <!-- Title content--> 
            <div class="row">
                <div class="col-sm-12">
                    <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">
                        <i class="fas fa-angle-double-left" id="menu-toggle-icon"></i>
                    </a>
                    <h3 class="user-title">Áreas y subáreas</h3>
                </div>
            </div>
             <!-- EndTitle content-->

             <!-- First Row -->
             <div class="row">
               <div class="col-sm-12">
                   <div class="jumbotron RLcard">
                   
                    <h2 class="text-left"></h2>
                    <br>
                    <!-- init content -->
                

                    <!-- end content -->
                           
                    </div>
               </div>
             </div>
             <!-- EndFirst Row -->
   
        </div>
</div>

{% endblock %}