{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard container">
				<div class="row middle-content">
					<div class="col-sm-6">
						<h2 class="text-left">Lista de Autores</h2>
					</div>
					<div class="col-sm-4">
						<form class="form-inline text-right">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
								</span>
							</div>
						</form>
					</div>
					<div class="col-sm-2 btn-lg">
						<div class="btn-group">
							<button class="btn btn-block dropdown-toggle text-left" data-toggle="dropdown" data-hover="dropdown">Acciones <span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li>
									<a href="#" type="button" data-toggle="modal" data-target="#ModalTrabajosExcel"><i class="fa fa-file-excel" id="menu-toggle-icon" style="color:black"></i> Carga Excel</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<br>
				<div class = "col-sm-12">
					<!-- data table -->
					<input type="hidden" id="listAuthors" name="list" data-url="{% url 'autores:list_authors' %}">
					
					<div id ="toolbar">
					</div>

					<table id="table"
					data-toggle="table"
					data-ajax="ajaxAuthors"
					data-side-pagination="server"
					data-show-export="true"
					data-toolbar="#toolbar"
					data-pagination="true"
					data-page-size="5"
					data-page-list="[0,5,10,25,50,100, 200]"
					data-show-refresh="true"
					data-search="true"
					data-sort-name="nombres"
					data-show-toggle="true"
					data-show-columns="true"
					>
						<thead>
							<tr>
								<th data-field="id" data-visible="false" data-show-columns="false">ID</th>
								<th data-field="nombres" data-sortable="true">Nombres</th>
								<th data-field="apellidos" data-sortable="true">Apellidos</th>
								<th data-field="correo_electronico" data-sortable="true">Correo electrónico</th>
								<th data-field="cedula_pasaporte" data-sortable="true">Cedula</th>
								<th data-field="universidad" data-sortable="true">Universidad</th>
								<th data-field="operate" data-events="operateEvents" data-formatter="operateAuthors" data-align="center">Acciones</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js_extra %}
{% load static %}
	<!-- js extra -->
	<script src="{% static 'js/grid.js' %}"></script>
	<script>
		var $table = $('#table');
		// your custom ajax request here
		

		function ajaxAuthors(params) {
			var route= $("#listAuthors").attr("data-url");
			// console.log (route);
			//  console.log("llamada a ajax request");
			console.log(params.data);

			 $.ajax({
				 type: "post",
				 url: route,
				 data: params.data,
				 dataType: 'json',
				 success: function (data) {
					// console.log(data);
					// console.log(data.total)
					// console.log(data.query.query)
					params.success({
					total: data.total,
					rows: data.query.query
					});

				 }
			 });
		}

	</script> 

{% endblock %}