{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">
	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard ">
				<div class="row">
					{% include "success_messages.html" %}  
					<h2 class="text-left">Lista de Autores</h2>
					<div class = "col-sm-12">
						<!-- data table -->
						<input type="hidden" id="listAuthors" name="list" data-url="{% url 'autores:list_authors' %}">
						
						<div id ="toolbar">
							<div class="btn-group">
								<button class="btn btn-block dropdown-toggle text-left" data-toggle="dropdown" data-hover="dropdown">Acciones <span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li>
										<a href="{% url 'autores:admin_create_author' %}" type="button"><i class="fa fa-user" style="color:black"></i> Crear Autor</a>
									</li>
									<li>
										<a data-url ="{% url 'autores:load_authors_modal' %}" type="button"  class="show-form"><i class="fa fa-file-excel" id="menu-toggle-icon" style="color:black"></i> Carga Excel</a>
									</li>
									<li>
										<a href ="{% url 'autores:export_authors' %}" type="button"  id="export-excel"><i class="fa fa-file-excel" id="menu-toggle-icon" style="color:black"></i> Exportar autores en Excel</a>
									</li>					
								</ul>
							</div>
						</div>

						<table id="table"
						data-toggle="table"
						data-ajax="ajaxAuthors"
						data-side-pagination="server"
						data-show-export="true"
						data-toolbar="#toolbar"
						data-toolbar-align="right"
						data-pagination="true"
						data-page-size="5"
						data-page-list="[0,5,10,25,50,100, 200]"
						data-show-refresh="true"
						data-search="true"
						data-sort-name="nombres"
						data-show-toggle="true"
						data-show-columns="true"
						>
							<thead>
								<tr>
									<th data-field="id" data-visible="false" data-show-columns="false">ID</th>
									<th data-field="nombres" data-sortable="true">Nombres</th>
									<th data-field="apellidos" data-sortable="true">Apellidos</th>
									<th data-field="correo_electronico" data-sortable="true">Correo electrónico</th>
									<th data-field="cedula_pasaporte" data-sortable="true">Cédula/Pasaporte</th>
									<th data-field="universidad" data-sortable="true">Universidad</th>
									<th data-field="operate" data-events="operateEvents" data-formatter="operateAuthors" data-align="center">Acciones</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js_extra %}
{% load static %}
	<!-- js extra -->
	<script src="{% static 'js/grid.js' %}">
	</script>
	<script>
		var $table = $('#table');
		function operateAuthors(value, row, index) {
	        var route_details="{% url 'autores:author_details' 1 %}".replace(1, row.id);
	        var route_edit = "{% url 'autores:author_edit' 1 %}".replace(1, row.id);
	        return [
	            '<a class="editAuthors" href="',
	            route_edit,
	            ' "',
	            'title="Editar" >',
	            '<i class="far fa-edit"></i>',
	            '</a>  ',
	            '<a class="show-form" data-url="',
	            route_details,
	            ' "',
	            'title="Detalles del autor" >',
	            '<i class="far fa-eye"></i>',
	            '</a>  ',
	        ].join('');
	    }

	    // your custom ajax request here
		function ajaxAuthors(params) {
			var route= $("#listAuthors").attr("data-url");
			// console.log (route);
			//  console.log("llamada a ajax request");
			console.log(params.data);

			 $.ajax({
				 type: "post",
				 url: route,
				 data: params.data,
				 dataType: 'json',
				 success: function (data) {
					// console.log(data);
					// console.log(data.total)
					// console.log(data.query.query)
					params.success({
					total: data.total,
					rows: data.query.query
					});

				 }
			 });
		}


	</script> 

{% endblock %}