{% extends "content_wrapper.html" %}
{% load crispy_forms_tags %}

{% block inner_content %}
<div class="container" id="content-wrapper">
	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="row">
					<h2 class="text-left">Autor</h2>
				</div>

				<div class="row middle-content">
					<div class="col-sm-10">
						<h3>Autor - Título del trabajo: Titulo 1</h3>
					</div>
					<div class="col-sm-2">
						<a href="{% url 'autores:postular_trabajo'%}" class="btn btn-warning btn-block">Atrás</a>
					</div>
				</div>

				<div class="row middle-content">
					<div class="col-sm-10">
						<h3>Título del trabajo: {{ autor_trabajo.trabajo.titulo_espanol }}</h3>
					</div>
					<div class="col-sm-2">
						<a href="{% url 'autores:postular_trabajo'%}" class="btn btn-warning btn-block">Atrás</a>
					</div>
				</div>

				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Datos de pagador</h4>
					</div>
					<div class="panel-body">
						<div class="container-fluid">
							<div class="row middle-content">
								<div class="col-sm-12">
									{% crispy pagadorform %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Form -->
				
			</div>
		</div>
	</div>
	<!-- EndFirst Row -->
</div>
{% endblock %}