{% extends "base_users.html" %}
{% block content %}
<div class="login-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="jumbotron RLcard">
                    <div class="container-fluid">
                        <div class="row middle-content">
                            <div class="col-sm-3">
                                <h2>Autor</h2>
                            </div>
                            <div class="col-sm-2 col-sm-offset-7">
                                <a href="{% url 'autores:autores' %}" class="btn btn-warning btn-block">Atrás</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Lista de trabajos evaluados</h4>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row middle-content">
                                    <div class="col-sm-3">
                                        <p>Titulo</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>Autor(es)</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>Versión</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>Status</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}