<!DOCTYPE html>
<html lang="es">
  <head>

    {% include "head.html" %}

  </head>

  <body>

    <!-- Fixed Main Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="main-navbar">
      <div class="container-fluid">
        <!-- Navbar Brand or Logo -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <strong>ASOVAC</strong>
          </a>
        </div>

        <!-- Navbar buttons: Passed by context in the view -->
        {% if main_navbar_options %}
        <ul class="nav navbar-nav">
          {% for option in main_navbar_options %}
            {% if option.active %}
              <li class="active">
                <a  href="#"><i class="fas {{ option.icon }}"></i> {{ option.title }}</a>
                <span class="sr-only">(current)</span>
              </li>
            {% else %}
              <li>
                <a  href="#"><i class="fas {{ option.icon }}"></i> {{ option.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}

        {% if username %}
        <!-- Username logged in -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">
              Sesión de <a href="#" class="navbar-link">{{ username }}</a>
            </p>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>

    {% if secondary_navbar_options %}
    <!-- Fixed Secondary Navbar -->
    <nav class ="navbar navbar-default navbar-fixed-top secondary-navbar" id="secondary-navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav ">
          {% for option in secondary_navbar_options %}
            <li>
              <p class="navbar-text">
                {{ option }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    {% endif %}

    {% block content %}{% endblock %}

    {% include "footer.html" %}

    {% include "js_scripts.html" %}
    
    
  </body>
</html>