<!DOCTYPE html>
<html lang="es">
  <head>

    {% include "head.html" %}

  </head>

  <body>

    <!-- Fixed Main Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="main-navbar">
      <div class="container-fluid">
        <!-- Navbar Brand or Logo -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'main_app:home' %}">
            <strong>ASOVAC</strong>
          </a>
        </div>

        <!-- Navbar buttons: Passed by context in the view -->
     
          <ul class="nav navbar-nav">
            {% if verify_configuration == 1 %}
              <li>
                <a href="{{ route_conf }}">
                  <i class ="fas fa-cogs"></i>Configuración
                </a>
<!-- 
                <form method="post" action="{{ route_conf }}"  name="nav_data_basic">
                    {% csrf_token %}
                    <input class="" name="estado" type='hidden' value="{{ estado }}">
                    <input class="" name="event_id" type='hidden' value="{{ event_id }}">
                </form>
                <a href="javascript:document.nav_data_basic.submit();"><i class ="fas fa-cogs"></i> Configuración </a>
-->
              </li>
            {% endif %}
            {% if verify_arbitration == 1 %}
            <li>
                <a href="{{ route_seg }}">
                  <i class ="fas fa-eye"></i> Arbitraje y seguimiento
                </a>

<!--
                <form method="post" action="{{ route_seg }}"  name="nav_authors_list">
                    {% csrf_token %}
                    <input class="" name="estado" type='hidden' value="{{ estado }}">
                    <input class="" name="event_id" type='hidden' value="{{ event_id }}">
                </form>
              <a href="javascript:document.nav_authors_list.submit();"><i class ="fas fa-eye"></i> Arbitraje y seguimiento</a>
-->
            </li>
            {% endif %}
            {% if verify_result == 1 %}
            <li>
              <a href="{{ route_resultados }}">
                <i class="fas fa-chart-area"></i> Resultados
              </a>
<!--
              <form method="post" action="{% url 'main_app:total' %}"  name="nav_total">
                  {% csrf_token %}
                  <input class="" name="estado" type='hidden' value="{{ estado }}">
                  <input class="" name="event_id" type='hidden' value="{{ event_id }}">
              </form>
              <a href="javascript:document.nav_total.submit();"><i class="fas fa-chart-area"></i> Resultados</a>
-->
            </li>
            {% endif %}

            {% if verify_jobs == 1 %}
              {% if trabajo_sidebar == 1 %}
                <li>
                    <a role = "button" id="dropdownMenuButton" data-toggle="dropdown">
                      <i class="fas fa-book"></i> Trabajos
                    </a>
                    <ul class="dropdown-menu" style ="z-index:2">
                      <li>
                        <a class="dropdown-item" href="{% url 'trabajos:trabajos' %}">Crear Trabajo</a>
                      </li>
                      <li>
                      <a class="dropdown-item" href="{% url 'autores:postular_trabajo' %}">Postular Trabajo</a>
                      </li>
                    </ul>
                </li>
              
              {% else %}
              <li>
                    <a href="{% url 'trabajos:trabajos_evaluados' %}">
                      <i class="fas fa-book"></i> Trabajos
                    </a>
              </li>
              {% endif %}
            {% endif %}

<!--

            {% if verify_event_app == 1 %}
            
              <li>
                  <a role = "button" id="dropdownMenuButton" data-toggle="dropdown">
                    <i class="fas fa-id-badge"></i> Organizador
                  </a>
                  <ul class="dropdown-menu" style ="z-index:2">
                    <li>
                      <a class="dropdown-item" href="{% url 'eventos:organizer_create' %}">Crear Organizador</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="{% url 'eventos:orgnaizer_list' %}">Listar Organizadores</a>
                    </li>
                  </ul>
              </li>
                   
            <li>
              <a role = "button" id="dropdownMenuButton" data-toggle="dropdown">
                <i class="fas fa-calendar-check"></i> Eventos
              </a>
              <ul class="dropdown-menu" style ="z-index:2">
                <li>
                  <a class="dropdown-item" href="{% url 'eventos:event_create' %}">Crear Evento</a>
                </li>
                <li>
                <a class="dropdown-item" href="{% url 'eventos:event_list' %}">Lista de Eventos</a>
                </li>
              </ul>
          </li>
            
          {% endif %}
-->

<!--  
            {% if verify_event == 1 %}
            <li>
                <a href="{% url 'eventos:event_create' %}">
                  <i class="fas fa-archive"></i> Eventos
                </a>

            
                <form method="post" action="{% url 'eventos:event_create' %}"  name="nav_event_create">
                    {% csrf_token %}
                    <input class="" name="estado" type='hidden' value="{{ estado }}">
                    <input class="" name="event_id" type='hidden' value="{{ event_id }}">
                </form>
              <a href="javascript:document.nav_event_create.submit();"><i class="fas fa-archive"></i> Eventos</a>

            </li>
            {% endif %}
-->
          </ul> 

        {% if user.username %}
        <!-- Username logged in -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">
              <a href="#" class="navbar-link"><i class="fas fa-user"></i> {{ user.username }}</a>
            </p>
          </li>
          <li>
            <p class="navbar-text">
              <a href="{% url 'logout' %}" class="navbar-link"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a>
            </p>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>

    {% if secondary_navbar_options %}
    <!-- Fixed Secondary Navbar -->
    <nav class ="navbar navbar-default navbar-fixed-top secondary-navbar" id="secondary-navbar" style ="z-index: 1">
      <div class="container-fluid">
        <ul class="nav navbar-nav ">
          {% for option in secondary_navbar_options %}
            <li>
              <p class="navbar-text">
                {{ option }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    {% endif %}

    <nav class ="navbar navbar-default navbar-fixed-top secondary-navbar" id="secondary-navbar">
        <div class="container-fluid">
          <ul class="nav navbar-nav ">
            <li>
              <p class="navbar-text">
               
              </p>
            </li>
          </ul>
        </div>
      </nav>
      
    {% block content %}{% endblock %}

    {% include "footer.html" %}

    {% include "js_scripts.html" %}
    
    
  </body>
</html>