{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Fixed Sidebar & Content-->
<div id="wrapper" class="toggled">

        {% include 'sidebar.html'%}
   
        <!-- Page Content -->
        <div class="container login-content" id="content-wrapper">
            <!-- Title content--> 
            <div class="row">
                <div class="col-sm-12">
                    <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">
                        <i class="fas fa-angle-double-left" id="menu-toggle-icon"></i>
                    </a>
                    <h3 class="user-title">Eventos</h3>
                </div>
            </div>
             <!-- EndTitle content-->

             <!-- First Row -->
             <div class="row">
               <div class="col-sm-12">
                   <div class="jumbotron RLcard">
                   
                    <h2 class="text-left">Lista de eventos</h2>
                    <div>
                        <form class="form-inline text-right">
                            <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </form>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                        {% if event_data %}
                            <thead>
                              <tr>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Tipo</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Dia Asignado</th>
                                <th>Duracion</th>
                                <th>Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for evt_data in event_data  %}
                                
                              <tr>
                                <td>{{ evt_data.nombre }}<td>
                                <td>{{ evt_data.categoria }}</td>
                                <td>{{ evt_data.tipo }}</td>
                                <td>{{ evt_data.fecha_inicio }}</td>
                                <td>{{ evt_data.fecha_fin }}</td>
                                <td>{{ evt_data.dia_asignado }}</td>
                                <td>{{ evt_data.duracion }}</td>
                                <td >
                                     <a href="{% url 'eventos:event_edit'%}" class="btn btn-info" role="button" title="Editar Evento">
                                         <i class="fas fa-edit"></i>
                                     </a>
                                     <a href="{% url 'eventos:event_delete' %}" class="btn btn-info" role="button" title="Eliminar Evento">
                                         <i class="fas fa-times"></i>
                                     </a>
                                     
                                     <a href="{% url 'eventos:event_detail' %}" class="btn btn-info" role="button" title="Ver Detalles del Evento">
                                         <i class="fas fa-eye"></i>
                                     </a>
                                                                             
                                     <a href="" class="btn btn-info" role="button" title="Realizar Comentarios">
                                         <i class="fa fa-comment"></i>
                                     </a>
                                </td>
                              </tr>
                              
                            {% endfor %}                             
                            </tbody>

                        {% else %}
                      
                            <div class="well well-lg">
                                <img src="{% static 'images/ico.info.png' %}" class="img-responsive center-block" alt="Info">
                                <strong><h2 class="text-center">No Hay Informacion Disponible</h2></strong>
                            </div>
                        {% endif %}
                        </table> 
                        <!-- End table  -->
                    </div>
                    <!--end jumbotrom -->    
                    </div>
               </div>
            </div>
             <!-- EndFirst Row -->
   
        </div>
</div>

{% endblock %}