{% extends "content_wrapper.html" %} {% load static %} {% block inner_content %}
<div class="container col-sm-12" id="content-wrapper">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            {% include "success_messages.html" %}
            {% include "toggle_title.html" %}
            <div class="jumbotron RLcard">
                <h2 class="text-left">Lista de organizadores de evento: {{event.nombre}}</h2>
                <div id="toolbar">

                </div>
                <div class="table-responsive">

                    <table class="table table-bordered" data-toggle="table" data-toolbar="#toolbar" data-toolbar-align="right" data-search="true" data-sort-name="nombre" data-pagination="true" data-page-size="10" data-page-list="[5,10,25,50,100, 200]"
                        data-show-toggle="true" data-show-columns="true">
                        <thead>
                            <tr>
                                <th data-field="nombre" class="col-sm-4 text-center vertical-middle-align" data-sortable="true" data-switchable="false">Nombre</th>
                                <th class="col-sm-4 text-center vertical-middle-align" data-sortable="true">Lugar Preferido</th>
                                <th class="col-sm-4 text-center vertical-middle-align" data-switchable="false">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">

                            {% for event_organizer in event_organizers %}
                                <tr>
                                    <td class="text-center vertical-middle-align">
                                        {{event_organizer.organizador.nombres}} {{event_organizer.organizador.apellidos}}
                                    </td>
                                    <td class="text-center vertical-middle-align">
                                        {{ event_organizer.locacion_preferida}}
                                    </td>
                                    <td class="text-center vertical-middle-align">
                                        {% if organizer_number > 1 %}
                                            <a class="show-form" data-url="{% url 'eventos:event_delete_organizer' event_organizer.id %}" title="Eliminar organizador de evento">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                    <!-- End table  -->
                </div>
                <!--end jumbotrom -->
            </div>
        </div>
    </div>
</div>


{% endblock %}