{% extends "content_wrapper.html" %} {% load static %} {% block inner_content %}
<div class="container" id="content-wrapper">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron RLcard">
                <h2 class="text-left">Lista de Organizadores</h2>
                <div id="toolbar">
                    <form>
                        <div class="btn-group pull-right">
                            <button class="btn btn-primary btn-block dropdown-toggle text-left" data-toggle="dropdown" data-hover="dropdown">Acciones <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'eventos:organizer_export_excel' %}" type="button" ><i class="fa fa-file-excel"></i> Exportar tabla</a>
                                </li>
                                <li>
                                    <a href="#" type="button" data-toggle="modal" data-target="#ModalTrabajosExcel"><i class="fa fa-upload"></i> Importar datos</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div>
                    <form method="post" action="{% url 'eventos:organizer_import_excel' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="myfile">
                        <button type="submit">Upload</button>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="organizer-list" data-toggle="table" data-toolbar="#toolbar" data-toolbar-align="right" data-search="true" data-sort-name="nombres" data-pagination="true" data-page-size="10" data-page-list="[5,10,25,50,100, 200]"
                        data-show-toggle="true" data-show-columns="true">
                        {% if organizer_data %}
                        <thead>
                            <tr>
                                <th data-field="nombres" data-sortable="true" data-switchable="false">Nombres</th>
                                <th data-sortable="true">Apellidos</th>
                                <th data-sortable="true">Correo electrónico</th>
                                <th data-sortable="true">Institución</th>
                                <th data-sortable="true">Capítulo Asovac</th>
                                <th data-sortable="true">Miembro Asovac</th>
                                <th data-switchable="false">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">

                            {% for org_data in organizer_data %}
                            <tr>
                                <td class="text-center">{{ org_data.nombres }}</td>
                                <td class="text-center">{{ org_data.apellidos }}</td>
                                <td class="text-center">{{ org_data.correo_electronico }}</td>
                                <td class="text-center">{{ org_data.institucion }}</td>
                                <td class="text-center">{{ org_data.capitulo_asovac }}</td>
                                {% if org_data.es_miembro_asovac %}
                                <td class="text-center">Si</td>
                                {% else %}
                                <td class="text-center">No</td>
                                {% endif %}
                                <td class="text-center">
                                    {% if usuario_asovac == org_data.usuario_asovac %}
                                    <a href="{% url 'eventos:organizer_edit' org_data.id %}" class="btn btn-info btn-sm" role="button" title="Editar Organizador">
                                        <i class="fas fa-edit"></i>
                                    </a>

                                    <button class="btn btn-info btn-sm show-form-delete" data-url="{% url 'eventos:organizer_delete' org_data.id %}" title="Eliminar Organizador">
                                        <i class="fas fa-times"></i>
                                    </button>


                                    <button class="btn btn-info btn-sm show-form-observations" data-url="{% url 'eventos:add_observations_to_organizer' org_data.id %}" title="Añadir observaciones">
                                        <i class="fas fa-comment"></i>
                                    </button> 
                                    {% endif %}

                                    <button class="btn btn-info btn-sm show-details" data-url="{% url 'eventos:organizer_detail' org_data.id %}" title="Detalles del organizador">
										<i class="fas fa-eye"></i>
									</button>
                                </td>
                            </tr>

                            {% endfor %}
                        </tbody>

                        {% else %}
                        <!--
						<div class="well well-lg">
							<img src="{% static 'images/ico.info.png' %}" class="img-responsive center-block" alt="Info">
							<strong><h2 class="text-center">No Hay Informacion Disponible</h2></strong>
						</div>   -->

                        {% endif %}
                    </table>
                    <!-- End table responsive  -->
                </div>
                <!--end jumbotrom-->
            </div>
        </div>
    </div>
</div>
{% endblock %}