{% extends "content_wrapper_with_sidebar.html" %}
{% load static %}

{% block inner_content %}
<div class="container col-sm-11" id="content-wrapper">

    {% include "toggle_title.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron RLcard">
                <div class="row">
                    <h2 class="text-left col-sm-6">Datos del evento</h2>
                    <div class="col-sm-6">
                        <div class="row middle-content">
                            <div class="col-sm-10">
                                <a href="{% url 'eventos:event_list' %}" class="btn btn-warning btn-block btn-lg"><i class="fas fa-arrow-alt-circle-left"></i> Atrás</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container-fluid top-margin-18">
                    <div class="row">
                        <div class="col-sm-5">
                            <strong>Nombre:</strong> <p>{{ evento.nombre }}</p>
                            <strong>Categoria:</strong> <p>{{ evento.categoria }}</p>           
                            <strong>Tipo:</strong> <p>{{ evento.tipo }}</p>     
                            <strong>Duración:</strong> <p>{{ evento.duracion }}</p>
                            <strong>Horario Preferido:</strong> <p> {{ evento.horario_preferido }}</p>            
                            <strong>URL anuncio de evento:</strong> <p>{{ evento.url_anuncio_evento }}</p>

                        </div>
                        <div class="col-sm-4">
                            <strong>Fecha de inicio:</strong> <p>{{ evento.fecha_inicio }}</p>
                            <strong>Fecha de fin:</strong> <p> {{ evento.fecha_fin }} </p>
                            <strong>Fecha preferida:</strong> <p>{{ evento.fecha_preferida }}</p>
                            <strong>Día Asignado:</strong> <p>{{ evento.dia_asignado }}</p>  
                            <strong>Descripcion:</strong> <p>{{ evento.descripcion }}</p>
                            <strong>Observaciones:</strong> <p>{{ evento.observaciones }}</p>
                        </div>
                        <div class="col-sm-3">
                            <strong>Organizadores del evento:</strong> {% for organizador_evento in organizador_evento_list %} 
                                                                            <p>{{ organizador_evento.organizador.nombres }} {{ organizador_evento.organizador.apellidos }}</p>
                                                                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
                <!--end jumbotrom -->    
        </div>
    </div>
</div>
{% endblock %}