{% extends "content_wrapper_with_sidebar.html" %}
{% load static %}

{% block inner_content %}
<div class="container col-sm-10" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="row">
					<h2 class="text-left col-sm-6">Lista de eventos</h2>
					<div class="col-sm-6">
						<form class="form-inline text-right">
							<input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
							<button class="btn btn-primary" type="submit">Buscar</button>
						</form>
					</div>
				</div>
				<br>
				<div class="table-responsive">
					<table class="table table-bordered">
						{% if event_data %}
							<thead>
								<tr>
									<th class = "col-sm-3 text-center vertical-middle-align">Nombre</th>
									<th class = "col-sm-1 text-center vertical-middle-align">Tipo</th>
									<th class = "col-sm-1 text-center vertical-middle-align">Fecha Inicio</th>
									<th class = "col-sm-1 text-center vertical-middle-align">Fecha Fin</th>
									<th class = "col-sm-1 text-center vertical-middle-align">Dia Asignado</th>
									<th class = "col-sm-1 text-center vertical-middle-align">Duracion</th>
									<th class = "col-sm-2 text-center vertical-middle-align">Enlace del Evento</th> 
									<th class = "col-sm-2 text-center vertical-middle-align">Acciones</th>                                  
								</tr>
							</thead>
							<tbody>

								{% for evt_data in event_data %}
									<tr>
										<td class="text-center vertical-middle-align">{{ evt_data.nombre }}</td>
										<td class="text-center vertical-middle-align">{{ evt_data.tipo | lower }}</td>
										<td class="text-center vertical-middle-align">{{ evt_data.fecha_inicio }}</td>
										<td class="text-center vertical-middle-align">{{ evt_data.fecha_fin }}</td>
										<td class="text-center vertical-middle-align">{{ evt_data.dia_asignado }}</td>
										<td class="text-center vertical-middle-align">{{ evt_data.duracion }}</td>
										<td class="text-center vertical-middle-align">{{ evt_data.url_anuncio_evento }}</td>
										<td class="text-center vertical-middle-align">
											<a href="{% url 'eventos:event_edit' evt_data.id %}" class="btn btn-info btn-sm" role="button" title="Editar Evento">
												<i class="fas fa-edit"></i>
											</a>
											<a href="{% url 'eventos:event_delete' %}" class="btn btn-info btn-sm" role="button" title="Eliminar Evento">
												<i class="fas fa-times"></i>
											</a>

											<a href="{% url 'eventos:event_detail' %}" class="btn btn-info btn-sm" role="button" title="Ver Detalles del Evento">
												<i class="fas fa-eye"></i>
											</a>

											<a href="" class="btn btn-info btn-sm" role="button" title="Realizar Comentarios">
												<i class="fa fa-comment"></i>
											</a>
										</td>
									</tr>

								{% endfor %}
							</tbody>

						{% else %}

							<div class="well well-lg">
								<img src="{% static 'images/ico.info.png' %}" class="img-responsive center-block" alt="Info">
								<strong><h2 class="text-center">No Hay Informacion Disponible</h2></strong>
							</div>                                                               

						{% endif %}
					</table> 
					<!-- End table  -->
				</div>
				<!--end jumbotrom -->    
			</div>
		</div>
	</div>
</div>


{% endblock %}