{% load static %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> {% endcomment %}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"> </script>
<script src="{% static 'js/jquery-ui.min.js' %}"> </script>
<script src="{% static 'js/bootstrap.min.js' %}"> </script>
<script src="{% static 'js/bootstrap-table.js' %}"> </script>
<script src="{% static 'js/asovac_script.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>

<script src="{% static 'js/bootstrap-table.js' %}"></script>
<script src="{% static 'js/bootstrap-table-es-ES.js' %}"></script>

<script src="{% static 'js/tableExport.js' %}"></script>
<script src="{% static 'js/bootstrap-table-export.js' %}"></script>
<!-- ckeditor js -->
<script src="{% static 'js/ckeditor.js' %}"></script>
<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/es.js' %}"></script>
<script src="{% static 'js/styles.js' %}"></script>


