<!DOCTYPE html>
<html lang="es">
  <head>

    {% include "head.html" %}
    {% load crispy_forms_tags %}

  </head>
  <body>
    {% include "navbar.html"%}
<!--
    <nav class ="navbar navbar-default navbar-fixed-top secondary-navbar" id="secondary-navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav ">
          <li>
            <p class="navbar-text">
              Por favor ingrese sus credenciales.
            </p>
          </li>
        </ul>
      </div>
    </nav>
  -->
    <div class="login-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="jumbotron RLcard">
              <h3 class="text-center">ASOVAC</h3>
              {% crispy form %}
              <a href="{% url 'password_reset'%}" class="btn btn-block btn-warning" role="button">¿Olvidaste tu contraseña?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}

    {% include "js_scripts.html" %}
  </body>
</html>