{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				
				<div class="row">
					<div class="col-sm-8">
						<h2>Lista de areas y subareas </h2>
					</div>
					<div class="col-sm-2 col-sm-offset-2 btn-lg">
						<div class="btn-group">
							<button class="btn btn-block dropdown-toggle text-left" data-toggle="dropdown" data-hover="dropdown">Acciones <span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li>
									<a class="showAreasForm" href="#" data-url="{% url 'main_app:load_areas' %}" type="button" data-toggle="modal" data-target="#ModalTrabajosExcel"><i class="fa fa-upload"></i> Cargar Áreas</a>
								</li>
								<li>
									<a href="#" type="button" data-toggle="modal" data-target="#ModalTrabajosExcel"><i class="fa fa-upload"></i> Cargar Subáreas</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<!-- data table -->
						<input type="hidden" id="list" name="list" data-url="{% url 'main_app:list' %}">
						<table id="table"
								data-toggle="table"
								data-ajax="ajaxRequest"
								data-side-pagination="server"
								data-pagination="true"
								data-page-size="5"
								data-page-list="[5, 10, 15, 20, ALL]"
								data-show-refresh="true"
								data-search="true"
								data-sort-name="pk"
								data-show-toggle="true"
								data-show-columns="true"
								>
							<thead>
								<tr>
									<th data-field="pk" data-sortable="true">ID</th>
									<th data-field="fields.nombre" data-sortable="true">Area</th>
									<th data-field="fields.descripcion" data-sortable="true">Descripcion</th>
								</tr>
							</thead>
						</table>
						<!-- end data table -->
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block js_extra %}
{% load static %}
	<!-- js extra -->
	 <script>
		var $table = $('#table');
		// your custom ajax request here
		function ajaxRequest(params) {
			var route= $("#list").attr("data-url");
			// console.log (route);
			//  console.log(params.data);
			 $.ajax({
				 type: "post",
				 url: route,
				 data: params.data,
				 dataType: false,
				 success: function (data) {
					var json =  JSON.parse(data);
					var total={{ request.session.area_total }};
					params.success({
					total: total,
					rows: json
					});

				 }
			 });
		}
	</script> 

{% endblock %}