{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				
				<h2 class="text-left">Documentos digitales para eventos</h2>
				<br>

				<div class="row">
					<div class="col-md-8 col-sm-offset-2">
						<div class="col-md-6">
							<form class="form-inline">
								<input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
								<button class="btn btn-primary" type="submit">Buscar</button>
							</form>
						</div>
						<br><br><br>
						<div class="col-md-12">
							<select class="form-control">
								<option>Seleccione un tipo de documento</option>
								<option>Certificado de comisión logística</option>
								<option>Certificado de conferencista evento</option>
								<option>Certificado de expositor de evento</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-8 col-sm-offset-2">
						<h3 class="text-center">
							Documento a generar
						</h3>
						
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>Correo</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Pedro Manuel</td>
									<td>Camacho Rodriguez</td>
									<td>CamachoR@gmail.com</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>

				<div class="form-group col-sm-3 col-sm-offset-6">
					<a href="" class="btn btn-block btn-danger" role="button">Cancelar</a>
				</div>
				<div class="form-group col-sm-3 ">
					<a href="" class="btn btn-block btn-success" role="button">Generar</a>
				</div>

				<br><br>
			</div>
		</div>
	</div>
</div>
{% endblock %}