{% extends "content_wrapper_with_sidebar.html" %}
{% load crispy_forms_tags %}

{% block inner_content %}
<div class="container" id="content-wrapper">
	{% include "success_messages.html" %}
	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Datos básicos</h4>
				</div>
				<div class="panel-body">

					{% crispy form %}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Clave coordinador general</h4>
				</div>
				<div class="panel-body">
					{% if arbitraje.clave_maestra_coordinador_general != "" %} 
					<p class="col-sm-12 text-center">Clave: {{ arbitraje.clave_maestra_coordinador_general }}</p>
					{% else %}
					<p class="col-sm-12 text-center">Haga click abajo para generar una.</p>
					{% endif %}
					<div class="col-sm-12">
						{% if permiso_clave_COG %}		
							<a href="{% url 'main_app:generate_COG_key' arbitraje_id %}" class="btn btn-primary col-sm-12">Generar nueva clave</a>
						{% else %}
							<button class= "btn btn-secondary col-sm-12">Sistema sin coordinador general</button>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Clave coordinador de área</h4>
				</div>
				<div class="panel-body">
					{% if arbitraje.clave_maestra_coordinador_area != "" %} 
					<p class="col-sm-12 text-center">Clave: {{ arbitraje.clave_maestra_coordinador_area }}</p>
					{% else %}
					<p class="col-sm-12 text-center">Haga click abajo para generar una.</p>
					{% endif %}
					<div class="col-sm-12">
						{% if permiso_clave_COA %}		
							<a href="{% url 'main_app:generate_COA_key' arbitraje_id %}" class="btn btn-primary col-sm-12">Generar nueva clave</a>
						{% else %}
							<button class= "btn btn-secondary col-sm-12">Sistema sin coordinadores de área</button>
						{% endif %}			
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Clave árbitro de área</h4>
				</div>
				<div class="panel-body">
					{% if arbitraje.clave_maestra_arbitro_subarea != "" %} 
					<p class="col-sm-12 text-center">Clave: {{ arbitraje.clave_maestra_arbitro_subarea }}</p>
					{% else %}
					<p class="col-sm-12 text-center">Haga click abajo para generar una.</p>
					{% endif %}
					<div class="col-sm-12">
						{% if permiso_clave_AS %}		
							<a href="{% url 'main_app:generate_ARS_key' arbitraje_id %}" class="btn btn-primary col-sm-12">Generar nueva clave</a>
						{% else %}
							<button class= "btn btn-secondary col-sm-12">Sistema sin arbitros de subárea</button>
						{% endif %}		
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}