{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="row middle-content">
					<div class="col-sm-8">
						<h2 class="top-margin-6">Datos Básicos:</h2>
					</div>
					<div class="col-sm-4">
						<a class="btn btn-primary pull-right" href="{% url 'main_app:data_basic' arbitraje_id %}" role="button">
							<i class="fas fa-edit"></i> Editar datos
						</a>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row middle-content">
						<div class="col-sm-8">
							<label>Nombre:</label>
							<h3 class="top-margin-6">{{ arbitraje.nombre }}</h3>
							<div class="row">
								<div class="col-sm-6">
									<label>Fecha de Inicio:</label>
									<h5>{{ arbitraje.fecha_inicio_arbitraje }}</h5>
								</div>
								<div class="col-sm-6">
									<label>Fecha Final:</label>
									<h5>{{ arbitraje.fecha_fin_arbitraje }}</h5>
								</div>
							</div>
							<label>Descripción:</label>
							<p class="text-justify">{{ arbitraje.descripcion }}</p>
						</div>
						<div class="col-sm-4">
							<label>Estado del arbitraje:</label>
							<p class="{% if progress_pct == 100 %}text-success{% else %}text-primary{% endif %}">{{ arbitraje_state }}</p>
							<div class="progress">
								<div class="progress-bar {% if progress_pct == 100 %}progress-bar-success{% else %}progress-bar-primary{% endif %} progress-bar-striped active" role="progressbar" aria-valuenow="{{ progress_pct }}"
								aria-valuemin="0" aria-valuemax="100" style="width:{{ progress_pct }}%">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Second Row -->
	<div class="row">
		<div class="col-sm-6">
			<div class="jumbotron RLcard">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Cantidad de Usuarios por Rol</h4>
					</div>
					<div class="panel-body">
						<div class="container-fluid">
							<div class='no-info-error hidden'>
								<h2 class="text-center"><i class="fa fa-info-circle fa-5x" aria-hidden="true"></i></h2>
								<h4 class="text-center">No hay sufienciente información.</h4>
							</div>
							<div class="row middle-content">
								<canvas id="role-count" ></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="jumbotron RLcard">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Distribución de Género de Autores</h4>
					</div>
					<div class="panel-body">
						<div class="container-fluid">
							<div class='no-info-error hidden'>
								<h2 class="text-center"><i class="fa fa-info-circle fa-5x" aria-hidden="true"></i></h2>
								<h4 class="text-center">No hay sufienciente información.</h4>
							</div>
							<div class="row middle-content">
								<canvas id="sex-count" heigth="100px"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js_extra %}
{% load static %}
<script>
	var endpoint = "{% url 'main_app:dashboard_chart_data' %}"
	console.log(endpoint);
	$.ajax({
		method: "GET",
		url: endpoint,
		success: function(data){
			if (data.usuarios.data.reduce((a, b) => a + b, 0) > 1){
				setChartRoleCount(data.usuarios);
			}else{
				notEnoughData('role-count');
			}
			if (data.generos.data.reduce((a, b) => a + b, 0) > 1){
				setSexCount(data.generos);
			}else{
				notEnoughData('sex-count');
			}
		},
		error: function(error_data){
			console.log("Error:");
			console.log(error_data);
		}
	})
	// Grafico de numero de autores, arbitros y coordinadores de area.
	function setChartRoleCount(usersData){
		var ctx = document.getElementById('role-count').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'pie',
			data: {
				labels: usersData.labels,
				datasets: [{
					label: 'Cantidad de Usuarios por Rol',
					data: usersData.data,
					backgroundColor: [
						'green',
						'blue',
						'orange',
					],
					borderColor: [
						'rgba(255, 255, 255, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
					],
					borderWidth: 1
				}],
			},
			options: {
				legend: {
					position: 'top',
					labels: {
						fontSize: 14
					}
				}
			}
		});
	}

	// Grafico de distribucion entre mujeres y hombres de autores.
	function setSexCount(sexData){
		var ctx = document.getElementById('sex-count').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: sexData.labels,
				datasets: [{
					label: 'Distribución de Género de Autores',
					data: sexData.data,
					backgroundColor: [
						'red',
						'blue',
					],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(75, 192, 192, 1)',
					],
					borderWidth: 1
				}]
			},
			options: {
				legend: {
					display: false
				},
				scales: {
					xAxes: [{
						barPercentage: 0.35,
					}],
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});
	}

	function notEnoughData(elementId){
		var $elem = $('#'+elementId);
		var $error = $elem.closest('div').siblings('.no-info-error').first();
		$elem.hide();
		$error.removeClass('hidden');
	}
</script>
{% endblock %}