{% extends "base_users.html" %}

{% block content %}
<div class="login-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="jumbotron RLcard">
                    <div class="container-fluid">
                        <div class="row middle-content">
                            <div class="col-sm-3">
                                <h2>INICIO</h2>
                            </div>
                            <div class="col-sm-2 col-sm-offset-7">
                                <a href="{% url 'main_app:create_arbitraje' %}" class="btn btn-warning btn-block">Crear Arbitraje</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Panel de Arbitraje</h4>
                        </div>

                        <!-- dynamic content-->
                        {% if arb_data %}
                            {% for arb in arb_data %}
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row middle-content">
                                        <div class="col-sm-4">
                                            <p>{{ arb.nombre }}</p>
                                            <h5>{{ arb.fecha_inicio_arbitraje }}</h5>
                                            <h5>{{ arb.fecha_fin_arbitraje }}</h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="">Estado:</span>
                                            {% if arb.estado_arbitraje == 0 %}
                                                <p class="text-primary">Desactivado</p>
                                            {% elif arb.estado_arbitraje == 1 %}
                                                <p class="text-primary">Iniciado</p>
                                            {% elif arb.estado_arbitraje == 2 %}
                                                <p class="text-primary">En Selección y Asignación de Coordinadores</p>
                                            {% elif arb.estado_arbitraje == 3 %}
                                                <p class="text-primary">En Carga de Trabajos</p>
                                            {% elif arb.estado_arbitraje == 4 %}
                                                <p class="text-primary">En Asignación de Trabajos a las Áreas</p>
                                            {% elif arb.estado_arbitraje == 5 %}
                                                <p class="text-primary">En Arbitraje</p>
                                            {% elif arb.estado_arbitraje == 6 %}
                                                <p class="text-primary">En Cierre de Arbitraje</p>
                                            {% elif arb.estado_arbitraje == 7 %}
                                                <p class="text-primary">En Asignación de Sesiones</p>
                                            {% elif arb.estado_arbitraje == 8 %}
                                                <p class="text-primary">En Resumen</p>
                                            {% endif %}
                                            
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            <form method="post" action="{% url 'main_app:dashboard' %}">
                                                {% csrf_token %}
                                                <input class="" name="estado" type='hidden' value="{{ arb.estado_arbitraje }}">
                                                <button type="submit" class="btn btn-primary btn-lg btn-block" role="button" ><i class="fas fa-door-open"></i> Entrar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}