{% extends "content_wrapper_with_sidebar.html" %}
{% load crispy_forms_tags %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">

				<h2 class="text-left">Seleccione un Coordinador General</h2>

				<div class="row top-margin-36">
					<div class="col-sm-8 col-sm-offset-2">
						<form method="POST">
							{% csrf_token %}
							{{ form.coordinador_general }}
							<div class="row top-margin-36">
								<div class="col-sm-4 col-sm-offset-4">
									<button type="submit" class="btn btn-success btn-block">Asignar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}