

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Fixed Sidebar & Content-->
<div id="wrapper" class="toggled">

        {% include 'sidebar.html'%}
   
        <!-- Page Content -->
        <div class="container login-content" id="content-wrapper">
            <!-- Title content--> 
            <div class="row">
                <div class="col-sm-12">
                    <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">
                        <i class="fas fa-angle-double-left" id="menu-toggle-icon"></i>
                    </a>
                    <h3 class="user-title">Configuración general</h3>
                </div>
            </div>
             <!-- EndTitle content-->

             <!-- First Row -->
             <div class="row">
               <div class="col-sm-12">
                   <div class="jumbotron RLcard">
                   
                    <h2 class="text-left">Estado del arbitraje</h2>
                    <br>
                    <!-- init content -->
                    
                    <br>
                    <div class="row">
                        <div class="col-md-8 col-sm-offset-2">
                            <div class="col-md-12">
                                <select class="form-control">
                                    {% if  estado == 0 %}
                                        <option>Desactivado</option>
                                    {% elif estado == 1 %}
                                        <option>Iniciado</option>
                                    {% elif estado == 2%}
                                        <option>En  Selección  y  Asignación  de  coordinadores</option>
                                    {% elif estado == 3%}
                                        <option>En  carga  de  trabajos</option>
                                    {% elif estado == 4 %}
                                        <option>En  Asignación  de  trabajas  a  áreas</option>
                                    {% elif estado == 5 %}
                                        <option>En  Arbitraje </option>
                                    {% elif estado == 6 %}
                                        <option>En  Cierre  de  Arbitraje </option>
                                    {% elif estado == 7 %}
                                        <option>En  Asignación  de  sesiones </option>
                                    {% elif estado == 8 %}
                                        <option>En  Resumen</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    
                    
                        <div class="form-inline col-sm-3 col-sm-offset-6">
                            <a href="" class="btn btn-block btn-danger" role="button">Cancelar</a>
                        </div>
                        <div class="form-inline col-sm-3">
                            <a href="" class="btn btn-block btn-success" role="button">Guardar</a>
                        </div>

                    <br>
                    <br>

                    <!-- end content -->
                           
                    </div>
               </div>
             </div>
             <!-- EndFirst Row -->
   
        </div>
</div>

{% endblock %}