{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="row middle-content">
					<div class="col-sm-4">
						<h2 class="text-left">Listado de Usuarios</h2>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-primary btn-block show-form" data-url="{% url 'main_app:crear_usuario' %}"><i class="fas fa-plus-circle"></i> Crear Usuario</button>
					</div>
					<div class="col-md-4">
						<form class="form-inline text-right">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
								</span>
							</div>
						</form>
					</div>
					<div class="col-md-2">
						<div class="dropdown text-right">
							<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Carga de usuarios
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#">Cargar autores</a></li>
								<li><a href="#">Cargar arbitros</a></li>
								<li><a href="#">Cargar coordinador de área</a></li>
								<li><a href="#">Cargar coordinador general</a></li>
							</ul>
						</div>
					</div>
				</div>

				<table class="table table-bordered gray-header top-margin-18" id="show_users">
					<thead>
						<tr>
							<th>
								<input type="checkbox" class="custom-control-input" id="customCheck1">    
							</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Nombre de usuario</th>
							<th>Correo</th>
							<th >Acciones</th>
						</tr>
					</thead>
					<tbody>

						{% include 'ajax/dinamic_list.html' %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<!-- Modal Dinámico -->
<div class="modal fade" id="modal-user">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>
{% endblock %}


