{% extends "content_wrapper.html" %}

{% block inner_content %}
<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="jumbotron RLcard">
					<h3 class="text-center">Sistema AsoVAC</h3>
					<h5 class="text-muted">Para crear una cuenta nueva, por favor, ingrese los datos a continuación:</h5>

					{% include "errors_form.html" %}

					<form id="login-form" method="post">

						{% csrf_token %}

						<div id="div_id_first_name" class="form-group">
							<label for="first_name" class="control-label  requiredField">
								Nombres
								<span class="asteriskField">*</span>
							</label>
							<div class="controls ">
								<input value="{{ form.data.first_name }}" type="text" name="first_name" id="first_name" required="" class="textinput textInput form-control" maxlength="100">
							</div>
						</div>

						<div id="div_id_last_name" class="form-group">
							<label for="last_name" class="control-label  requiredField">
								Apellidos
								<span class="asteriskField">*</span>
							</label>
							<div class="controls ">
								<input value="{{ form.data.last_name }}" type="text" name="last_name" id="last_name" required="" class="textinput textInput form-control" maxlength="100">
							</div>
						</div>

						<div id="div_id_email" class="form-group">
							<label for="email" class="control-label  requiredField">
								Correo electrónico
								<span class="asteriskField">*</span>
							</label>
							<div class="controls ">
								<input value="{{ form.data.email }}" type="email" name="email" id="email" required="" class="textinput textInput form-control" maxlength="100">
							</div>
						</div>

						<div id="div_id_username" class="form-group">
							<label for="username" class="control-label  requiredField">
								Nombre de usuario
								<span class="asteriskField">*</span>
							</label>
							<div class="controls ">
								<input value="{{ form.data.username }}" type="text" name="username" id="username" required="" class="textinput textInput form-control" maxlength="100">
							</div>
						</div>

						<div id="div_id_new_password1" class="form-group">
							<label for="id_new_password1" class="control-label  requiredField">
								Contraseña
								<span class="asteriskField">*</span>
							</label>
							<div class="controls ">
								<input type="password" name="password1" required="" id="password1" class="form-control">
							</div>
						</div>

						<div id="div_id_new_password2" class="form-group">
							<label for="id_new_password2" class="control-label  requiredField">
								Confirme contraseña
								<span class="asteriskField">*</span>
							</label>
							<div class="controls was-validated">
								<input type="password" name="password2" required="" id="password2" class="form-control">
							</div>
						</div>

							<div class="form-group">
									<label class="control-label  requiredField" for="area_select"> Área <span class="asteriskField">*</span></label>
									<div class="controls was-validated" name="area" >
										<select data-url="{% url 'main_app:cargar_subareas' '0' %}" name="area_select" class="form-control" id="area_select" required>
											<option value="">Seleccione un Área</option>
											{% for area in areas %}
											<!-- <option value="{{area.id}}">{{ area.nombre }}</option> -->
											<option value="{{area.id}}">{{ area.nombre }}</option>
											{% endfor %}
										</select>
									</div>
							</div>

							<div class="form-group"  style="display: none" id="content_subarea">
									{% include 'ajax/show_subareas.html' %}
							</div>
							
						<div class="form-group">
							<div class="controls ">
								<input type="submit" name="submit" value="Registrar" class="btn btn-primary btn-block" id="submit-id-submit">
							</div>
						</div>
					</form>
					<a href="{% url 'login'%}" class="btn btn-block btn-warning" role="button">Iniciar sesión</a>
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}