{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="row middle-content">
					<div class="col-sm-4">
						<h2 class="text-left">Listado de Usuarios</h2>
					</div>
				</div>

				<!-- bootstrap-table -->
				<div class="row"> 

					<div class="col-md-8">
					</div>
					<div class="col-sm-2 col-sm-offset-2 btn-lg align-right">
						<div class="btn-group">
							<button class="btn btn-block dropdown-toggle text-left" data-toggle="dropdown" data-hover="dropdown">Acciones <span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li>
										<!-- <a  href="#" class="show-form" data-url="{% url 'main_app:crear_usuario' %}" type="button" data-toggle="modal" data-target="#ModalTrabajosExcel"><i class="fas fa-plus-circle"></i> Crear usuario</a> -->
									</li>
									<li>
										<a href="#" class="showUsersForm" data-url="{% url 'main_app:load_users' arbitraje_id 3 %}" type="button" data-toggle="modal" data-target="#ModalTrabajosExcel"><i class="fa fa-upload"></i>Cargar Coordinador <br> de Área</a>
									</li>
									<li>
										<a href="#" class="showUsersForm" data-url="{% url 'main_app:load_users' arbitraje_id 4 %}" type="button" data-toggle="modal" data-target="#ModalTrabajosExcel"><i class="fa fa-upload"></i> Cargar Árbitros</a>
									</li>
								</ul>
							</div>
						</div>
				</div>
					<!-- data table -->
					<input type="hidden" id="listUsuarios" name="list" data-url="{% url 'main_app:list_usuarios' %}">
					
					<div id="toolbar">
					</div>
					<table id="table"
							data-toggle="table"
							data-ajax="ajaxUsuarios"
							data-side-pagination="server"
							data-show-export="true"
							data-toolbar="#toolbar"
							data-pagination="true"
							data-page-size="5"
							data-page-list="[0,5,10,25,50,100, 200]"
							data-show-refresh="true"
							data-search="true"
							data-sort-name="pk"
							data-show-toggle="true"
							data-show-columns="true"
							>
							<thead>
								<tr>
									<th data-field="nombre" data-sortable="true">Nombres</th>
									<th data-field="apellido" data-sortable="true">Apellidos </th>
									<th data-field="nombre_user" data-sortable="true">Nombre de usuario</th>
									<th data-field="correo" data-sortable="true">Correo</th>
									<th data-field="operate" data-events="operateEvents" data-formatter="operateUsuarios" data-align="center">Acciones</th>
								</tr>
						</thead>
					</table>
					<!-- end data table -->
				<!-- bootstrap-table -->
			</div>
		</div>
	</div>
</div>


{% endblock %}


{% block js_extra %}
{% load static %}
	<!-- js extra -->
	<script src="{% static 'js/grid.js' %}"></script>
	<script>

		var $table = $('#table');
		// your custom ajax request here
		

		function ajaxUsuarios(params) {
			var route= $("#listUsuarios").attr("data-url");
			// console.log (route);
			//  console.log("llamada a ajax request");
			console.log(params.data);

			 $.ajax({
				 type: "post",
				 url: route,
				 data: params.data,
				 dataType: 'json',
				 success: function (data) {
					// console.log(data);
					// console.log(data.total)
					// console.log(data.query.query)
					params.success({
					total: data.total,
					rows: data.query.query
					});

				 }
			 });
		}
		
	</script> 

{% endblock %}


