{% extends "base_users.html" %}
{% load static %}

{% block content %}
<div class="login-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="jumbotron RLcard">
                    <div class="container-fluid">
                        <div class="row middle-content">
                            <div class="col-sm-3">
                                <h2>INICIO</h2>
                            </div>
                            <div class="col-sm-2 col-sm-offset-7">
                                <a href="{% url 'main_app:create_arbitraje' %}" class="btn btn-warning btn-block">Crear Arbitraje</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Panel de Arbitraje</h4>
                        </div>

                        <!-- dynamic content-->
                        {% if arb_data %}
                            {% for arb, state, allow in arb_data %}
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        <div class="row middle-content">
                                            <div class="col-sm-4">
                                                <p>{{ arb.nombre }}</p>
                                                <h5>{{ arb.fecha_inicio_arbitraje }}</h5>
                                                <h5>{{ arb.fecha_fin_arbitraje }}</h5>
                                            </div>
                                            <div class="col-sm-4">
                                                <span class="">Estado:</span>
                                                <p class="text-primary">{{ state }}</p>
                                            </div>
                                            {% if allow %}
                                            <div class="col-sm-3 text-center">
                                                <a class="btn btn-primary btn-lg btn-block" href="{% url 'main_app:dashboard' arb.id %}" role="button"><i class="fas fa-door-open"></i> Entrar</a>
                                            </div>
                                            {% else %}
                                            <div class="col-sm-3 text-center">
                                                <a class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#ModalAccessDenied" role="button"><i class="fas fa-door-open"></i> Entrar</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row middle-content">
                                            <div class="container-fuild col-sm-6 offset-3 center-block">
                                                    <img src="{% static 'images/ico.info.png' %}" class="img-responsive center-block" alt="Info">
                                                    <strong><h2 class="text-center">No Hay Arbitrajes Creados</h2></strong>                                                   
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Acceso Denegado-->
<div class="modal fade" id="ModalAccessDenied" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="ModalLongTitle">Acceso Denegado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center content-modal">
        En este estado del proceso, usted no participa.  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}