{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">

				<h2 class="text-left">Seleccione un Coordinador de Área</h2>

				<div class="row top-margin-36">
					<div class="col-md-8 col-sm-offset-2">
						<select class="form-control">
							<option>Seleccione un coordinador</option>
							<option>Coordinador 1</option>
							<option>Coordinador 2</option>
							<option>Coordinador 3</option>
							<option>Coordinador 4</option>
							<option>Coordinador 5</option>
						</select>
						<div class="row top-margin-36">
							<div class="col-sm-4 col-sm-offset-4">
								<a href="" class="btn btn-block btn-success" role="button">Asignar</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}