{% extends "content_wrapper.html" %}

{% block inner_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="jumbotron RLcard">

				<div class="container-fluid">
					<h2>Bienvenido al Sistema de Arbitraje de Trabajos de AsoVAC</h2>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="container-fluid">
							<h4>Seleccione la aplicación de su preferencia para continuar:</h4>
							<br/>
							<div class="row middle-content">
								<div class="col-sm-6 center-block well">
									<a class="btn btn-primary btn-lg btn-block" href="{% url 'main_app:home' %}">Arbitraje AsoVAC</a>
									<br/>
									<a class="btn btn-default btn-lg btn-block" href="{% url 'eventos:home' %}">Eventos AsoVAC</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}