{% extends "content_wrapper.html" %}
{% load static %}

{% block inner_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="jumbotron RLcard">
				<div class="container-fluid">
					<div class="row middle-content">
						<div class="col-sm-12">
							<h2><i class="fas fa-home"></i> Inicio</h2>
						</div>
					</div>
					<div class="row middle-content">
						<div class="col-sm-10">
							<h3>Arbitrajes Disponibles</h3>
						</div>
						<div class="col-sm-2">
							<a href="{% url 'main_app:create_arbitraje' %}" class="btn btn-warning btn-block">
								<i class="fas fa-plus-circle"></i> Crear Arbitraje
							</a>
						</div>
					</div>
					{% if arb_data %}
					{% for arb, state, allow in arb_data %}
					<div class="row middle-content jumbotron RLcard half-padding small-bot-margin">
						<div class="col-sm-5">
							<p>{{ arb.nombre }}</p>
							<h5>{{ arb.fecha_inicio_arbitraje }}</h5>
							<h5>{{ arb.fecha_fin_arbitraje }}</h5>
						</div>
						<div class="col-sm-4">
							<span class="">Estado:</span>
							<p class="text-primary">{{ state }}</p>
						</div>
						{% if allow %}
						<div class="col-sm-2 text-center">
                            {%if params_validations.is_admin == 1 %}
                                <a class="btn btn-primary btn-lg btn-block" href="{% url 'main_app:dashboard' arb.id %}" role="button"><i class="fas fa-door-open"></i> Entrar</a>
                            {% else %}
                                {%if params_validations.rol_name.id != 5 %}
                                    <a href="#" class="btn btn-primary btn-lg btn-block show-form-access" data-url="{% url 'main_app:validar_rol' arb.id %}" data-toggle="modal" data-target="#rol_validate" role="button"><i class="fas fa-door-open"></i> Entrar</a>
                                {% else %}
                                    <a class="btn btn-primary btn-lg btn-block"  href="{% url 'main_app:dashboard' arb.id %}" role="button"><i class="fas fa-door-open"></i> Entrar</a>
                                {% endif %}
                            {% endif %}
						</div>
						{% endif %}
					</div>
					{% endfor %}
					{% else %}
					<div class="row middle-content">
						<div class="col-sm-6 col-sm-offset-3">
							<img src="{% static 'images/ico.info.png' %}" class="img-responsive center-block" alt="Info">
							<h3 class="text-center">No existen arbitrajes disponibles en este momento.</h3>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="rol_validate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
       
      </div>
    </div>
  </div>

{% endblock %}