

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Fixed Sidebar & Content-->
<div id="wrapper" class="toggled">

        {% include 'sidebar.html'%}
   
        <!-- Page Content -->
        <div class="container login-content" id="content-wrapper">
            <!-- Title content--> 
            <div class="row">
                <div class="col-sm-12">
                    <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">
                        <i class="fas fa-angle-double-left" id="menu-toggle-icon"></i>
                    </a>
                    <h3 class="user-title">Roles</h3>
                </div>
            </div>
             <!-- EndTitle content-->

             <!-- First Row -->
             <div class="row">
               <div class="col-sm-12">
                   <div class="jumbotron RLcard">
                   
                    <h2 class="text-center">Lista de roles</h2>
                    <div>
                        <form class="form-inline">
                            <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </form>
                    </div>
                    <br>
                           <table class="table table-bordered">
                               <thead>
                                 <tr>
                                   <th class="text-center">Funciones</th>
                                   <th class="text-center">Administrador</th>
                                   <th class="text-center">Coordinador General</th>
                                   <th class="text-center">Coordinador de Área</th>
                                   <th class="text-center">Coordinador de Subárea</th>
                                   <th class="text-center">Autor</th>
                                 </tr>
                               </thead>
                               <tbody>
                                
                                 <tr class="text-center">
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <h5>Crear</h5>
                          
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            
                                        </div>
                                    </td>
                                    
                                 </tr>
                                 <tr class="text-center">
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <h5>Leer</h5>
                              
                                            </div>
                                        </td>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    
                                            </div>
                                        </td>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    
                                            </div>
                                        </td>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                
                                            </div>
                                        </td>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                
                                            </div>
                                        </td>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                
                                            </div>
                                        </td>
                                        
                                     </tr>
                                     <tr class="text-center">
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <h5>Modificar</h5>
                                  
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                        
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                        
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    
                                                </div>
                                            </td>
                                            
                                         </tr>
                               </tbody>
                             </table>
                           <!-- End table  -->
                           
                       </div>
               </div>
             </div>
             <!-- EndFirst Row -->
   
        </div>
</div>

{% endblock %}