{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">

				<h2 class="text-left">Datos del autor</h2>
				{% include "errors_form.html" %}

				<form id="login-form" method="post">
					{% csrf_token %}

					<div class="row">
						<div id="div_id_first_name" class="form-group col-sm-6 col-sm-offset-3">
							<label for="first_name" class="control-label  requiredField">
								Nombres
								<span class="asteriskField">*</span>
							</label>
							<div class="controls ">
								<input type="text" name="first_name" id="first_name" required="" class="textinput textInput form-control" maxlength="100">
							</div>
						</div>
					</div>

					<div class="row">
						<div id="div_id_last_name" class="form-group col-sm-6 col-sm-offset-3">
							<label for="last_name" class="control-label  requiredField">
								Apellidos
								<span class="asteriskField">*</span>
							</label>
							<div class="controls ">
								<input type="text" name="last_name" id="last_name" required="" class="textinput textInput form-control" maxlength="100">
							</div>
						</div>
					</div>

					<div class="row">
						<div id="div_id_email" class="form-group col-sm-6 col-sm-offset-3">
							<label for="email" class="control-label  requiredField">
								Correo Electrónico
								<span class="asteriskField">*</span>
							</label>
							<div class="controls ">
								<input type="email" name="email" id="email" required="" class="textinput textInput form-control" maxlength="100">
							</div>
						</div>
					</div>

					<div class="row">
						<div id="div_id_identifier" class="form-group col-sm-6 col-sm-offset-3">
							<label for="identifier" class="control-label  requiredField">
								Cédula
								<span class="asteriskField">*</span>
							</label>
							<div class="controls ">
								<input type="text" name="identifier" id="identifier" required="" class="textinput textInput form-control" maxlength="100">
							</div>
						</div>
					</div>

					<div class="row">
						<div id="div_id_institution" class="form-group col-sm-6 col-sm-offset-3">
							<label for="id_institution" class="control-label  requiredField">
								Universidad
								<span class="asteriskField">*</span>
							</label>
							<div class="controls ">
								<input type="text" name="institution" required="" id="institution" class="form-control">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-6 col-sm-offset-3">
							<div class="controls ">
								<input type="submit" name="submit" value="Guardar" class="btn btn-primary btn-block" id="submit-id-submit">
							</div>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="form-group col-sm-6 col-sm-offset-3">
						<a href="{% url 'autores:authors_list' %}" class="btn btn-block btn-danger" role="button">Cancelar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}