<!-- Ventanas modales -->

<!-- Modal Dinámico -->
<div class="modal fade" id="modal-user">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>

<!-- Modal bootstrap table -->
<div class="modal fade" id="modal-table">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="bootstrapTableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	  </div>
	</div>
  </div>