{% extends "base.html" %}

{% block content %}
	<div class="login-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="alert alert-success text-center" role="alert">
						Su contraseña se restableció correctamente.
					</div>
					<div class="text-center">
						<div class="controls ">
							<a class="btn btn-primary align-middle" href="{% url 'login' %}">Iniciar sesión</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
