
{% include "head.html" %}
{% load crispy_forms_tags %}


{% block content %}

{% include "navbar.html"%}

{% comment %} <form method="post">
	{% csrf_token %}
	<label for="id_email">Correo:</label> {{ form.email }} 
	<input type="submit" value="Enviar"/>
</form> {% endcomment %}

<div class="login-content">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4 col-sm-offset-4">
		  <div class="jumbotron RLcard">
			<h3 class="text-center">Restablecer su Contraseña</h3>
			{% crispy form  %}
			<input type="submit" name="submit" value="Ingresar" class="btn btn-primary btn-block" id="submit-id-submit">
		  </div>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}