{% extends "content_wrapper_with_sidebar.html" %}
{% load static %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="row">
					<div class="col-sm-8">
						<h2 class="text-left">Portanombres de Asistentes o Conferencistas</h2>
					</div>
					<div class="col-sm-4">
						<a data-url="{% url 'recursos:load_nametag_recipients_modal' %}"
						   class="show-form btn btn-primary btn-block btn-lg" type="button">
							<i class="fa fa-file-excel" style="color:white"></i> Generación Masiva de Portanombres
						</a>
					</div>
				</div>
				<br>
				<h4>
					Por favor seleccione el tipo de portanombres y complete la lista de destinatarios. El sistema se encargará de
					generar portanombres de asistente o conferencista en formato pdf y enviarlos a los correos electrónicos ingresados.
				</h4>
				<br>
				<div class="row" style="margin-top: 15px; margin-bottom: 50px">
					<div class="col-sm-12">
						<form method="POST" id="form-loading" action="" data-url="{% url 'recursos:create_name_tags' %}">
							{% csrf_token %}
							{% include "success_messages.html" %}
							{% include "errors_form.html" %}
							<div class="container" id="form-container">
								<h5><b>Tipo de Portanombres:</b></h5>
								<div class="row">
									<div class="col-sm-6 form-group">
										<div class="controls">
											{{ form.role }}
										</div>
									</div>
								</div>
								<div class="row" style="margin-top: 30px; margin-bottom: 50px">
			                        <h5 class="col-sm-12"><b>Lista de destinatarios:</b></h5>
			                        <div class="col-sm-12">
			                            <div class="container" id="form-container">
			                                <div class="row">
			                                    <div class="col-sm-6 form-group">
			                                        <div class="controls">
			                                            {{ form.recipients_name_0 }}
			                                        </div>
			                                    </div>
			                                    <div class="col-sm-6 form-group">
			                                        <div class="controls">
			                                            {{ form.recipients_email_0 }}
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <br>
			                            <div class="row">
			                                <div class="container" align="center">
			                                    <button type="submit" class="btn btn-primary btn-lg col-sm-offset-9 col-sm-3" id="question" >
			                                        <span>Enviar</span>
			                                    </button>
			                                    <button class="btn btn-primary btn-lg" align="center" id="loading" style="display:none;">
			                                        <span>
			                                            <p>Enviando portanombres, por favor espere...</p>
			                                            <i class="fas fa-circle-notch fa-spin"></i>
			                                        </span>
			                                    </button>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js_extra %}
<script type="text/javascript" src="{% static 'js/multiple_recipients_dynamic_form.js' %}"></script>
{% endblock %}
