{% extends "content_wrapper.html" %}
{% block inner_content %}
<div class="container-fluid">
	<div class="row">
        <div class="jumbotron RLcard col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">  
                <div class="panel-heading">
                    <h4>
                        Resultados
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row middle-content">
                            <div class="col-sm-6">
                                <canvas id="trabajos" height="150"></canvas>
                                <canvas id="myChart2" height="150"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}

{% block js_extra %}
{% load static %}
    <script>
        var endpoint = "{% url 'recursos:chart_data' %}"
        var defaultData = []
        var labels = []
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                labels = data.labels
                defaultData = data.default
                setChart(data.trabajos)
                setChart2()
            },
            error: function(error_data){
                console.log("Error:")
                console.log(error_data)
            }
        })
        function setChart(trabajosData){
            var ctx = document.getElementById('trabajos').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: trabajosData.labels,
                    datasets: [{
                        label: '# of Votes',
                        data: trabajosData.data,
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        function setChart2(){
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Votes',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    </script>
{% endblock %}