{% extends "content_wrapper_with_sidebar.html" %}
{% load static %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="row">
					<div class="col-sm-8">
						<h2 class="text-left">Portanombres de Asistentes o Conferencistas</h2>
					</div>
					<div class="col-sm-4">
						<a data-url="{% url 'recursos:load_nametag_recipients_modal' %}"
						   class="show-form btn btn-primary btn-block btn-lg" type="button">
							<i class="fa fa-file-excel" style="color:white"></i> Generación Masiva de Portanombres
						</a>
					</div>
				</div>
				<br>
				<h4>
					Por favor ingrese un archivo de excel con el formato correcto. El sistema se encargará de generar un
					portanombres en formato pdf y de enviarlo al correo electrónico asociado al asistente o conferencista.
				</h4>
				<br>
				<div class="row" style="margin-top: 15px; margin-bottom: 50px">
					<div class="col-sm-12">
						<!-- <form enctype="multipart/form-data" action="" id="loadRecipientsForm" method="POST"
							  data-url="{% url 'recursos:create_name_tags' %}">
							<h5><b>Lista de destinatarios:</b></h5>
							{% csrf_token %}
							{% include "success_messages.html" %}
							{% include "errors_form.html" %}
							<div class="container" id="form-container">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3 form-group">
										<div class="controls">
											{{ form.file.label }}
											{{ form.file }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4 col-sm-offset-4 text-center">
										<input type="submit" name="submit" value="Generar" class="btn btn-success btn-lg" id="btn-modal-success">
									</div>
								</div>
							</div>

						</form> -->
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js_extra %}

{% endblock %}
