{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row ">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				
				<h2 class="text-center">Documentos Digitales para AsoVAC</h2>
				<br>
				<h4>Libro de resumen:</h4>
				<div class="row" >
					<div class="col-sm-4 ">
						<a href="{% url 'recursos:portada' %}"
						   class="btn btn-block btn-lg btn-primary" >
							<!-- <div class="row text-center" style="margin-bottom: 15px">
								<i class="fa fa-envelope fa-2x"></i>
							</div> -->
							Portada
						</a>
					</div>
					<div class="col-sm-4 ">
						<a href="{% url 'recursos:patrocinadores' %}" class="btn btn-block btn-lg btn-primary" >
							<!-- <div class="row text-center" style="margin-bottom: 15px">
								<i class="fa fa-address-card fa-2x"></i>
							</div> -->
							Patrocinadores
						</a>
					</div>
					<div class="col-sm-4">
						<a href="{% url 'recursos:comisionOrganizadora' %}" class="btn btn-block btn-lg btn-primary" >
							<!-- <div class="row text-center" style="margin-bottom: 15px">
								<i class="fa fa-address-card fa-2x"></i>
							</div> -->
							Comisión Organizadora
						</a>
					</div>
				</div>

<br><br>
				<div class="row">
					<div class="col-sm-4">
						<a href="{% url 'recursos:invitacion' %}" class="btn btn-block btn-lg btn-primary" >
							<!-- <div class="row text-center" style="margin-bottom: 15px">
								<i class="fa fa-address-card fa-2x"></i>
							</div> -->
							Invitación
						</a>
					</div>
					<div class="col-sm-4">
						<a href="{% url 'recursos:palabras' %}" class="btn btn-block btn-lg  btn-primary" >
							<!-- <div class="row text-center" style="margin-bottom: 15px">
								<i class="fa fa-address-card fa-2x"></i>
							</div> -->
							Palabras
						</a>
					</div>
					<div class="col-sm-4">
						<a href="{% url 'recursos:afiche' %}" class="btn btn-lg btn-block btn-primary" >
							<!-- <div class="row text-center" style="margin-bottom: 15px">
								<i class="fa fa-address-card fa-2x"></i>
							</div> -->
							Afiche
						</a>
					</div>
				</div>
<br> <br>

				<div class="row">
					<div class="col-sm-4">
						<a href="{% url 'recursos:eventosPreviewPDF' arbitraje_id %}" class="btn btn-lg btn-block btn-primary" >
							<!-- <div class="row text-center" style="margin-bottom: 15px">
								<i class="fa fa-address-card fa-2x"></i>
							</div> -->
							Eventos
						</a>
					</div>

					<div class="col-sm-4">
						<a target="_blanck" href="{% url 'recursos:memoriasIndice' arbitraje_id %}" class="btn btn-lg btn-block btn-primary" >
							Índice
						</a>
					</div>

					<div class="col-sm-4">
						<a href="{% url 'recursos:resumenesTrabajos' %}" class="btn btn-lg btn-block btn-primary" >
							<!-- <div class="row text-center" style="margin-bottom: 15px">
								<i class="fa fa-address-card fa-2x"></i>
							</div> -->
							Resúmenes
						</a>
					</div>
				</div>
<br><br>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4">
						<a target="_blanck" href="{% url 'recursos:memoriasPreviewPDF' arbitraje_id %}" class="btn btn-lg btn-block btn-primary" >
							Generar resumen
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}



