{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				
				<h2 class="text-left">Miembros de la Comisión de Logística a Certificar</h2>
				<br>
				<h4>
					Por favor ingrese de forma ordenada los nombres y correos electrónicos asociados a los miembros
					de la comisión de logística a los que se les enviarán sus certificados.
				</h4>
				<div class="row" style="margin-top: 30px">
					<div class="col-sm-12">
						<form method="POST">
							{% csrf_token %}
							<div class="container" id="form-container">
								<div class="row">
									<div class="col-sm-6 form-group">
										<div class="controls">
											{{ form.recipients_name_0 }}
										</div>
									</div>
									<div class="col-sm-6">
										{{ form.recipients_email_0 }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-2 col-sm-offset-10">
									<input type="submit" name="submit" value="Generar" class="btn btn-success btn-lg btn-block" id="btn-modal-success">
								</div>
							</div>
						</form>
					</div>
				</div>

				<br><br>
			</div>
		</div>
	</div>
</div>
{% endblock %}