{% extends "content_wrapper_with_sidebar.html" %}
{% load static %}
{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				{% include "success_messages.html" %}
                {% include "errors_form.html" %}		
                
				<h2 class="text-left">Miembros {% if conferencista %}conferencistas{% else %}organizadores{% endif %} a Certificar</h2>
				<br>
				<h4>
					Por favor ingrese de forma ordenada los nombres y correos electrónicos asociados de los {% if conferencista %}conferencistas{% else %}organizadores{% endif %} a los que se les enviarán sus certificados, luego se le pedirá el nombre{% if conferencista %}, título de la conferencia{% endif %} y fecha del evento.
				</h4>
				<br>
                <form action="." method="POST" id="form-loading">
                    {% csrf_token %}
                    <h5><b>Datos de evento{% if conferencista %} y conferencia{% endif %}:</b></h5>
                    <div id = "div_id_recipients_event_name" class="form-group col-sm-{% if conferencista %}4{% else %}6{% endif %}">
                        <label for="id_recipients_event_name" class="control-label requiredField" style='text-align:left;'>
                            {{form.recipients_event_name.label}}
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="controls">
                            {{form.recipients_event_name}}
                        </div>
                    </div>
                    <div id = "div_id_recipients_date" class="form-group col-sm-{% if conferencista %}4{% else %}6{% endif %}">
                        <label for="id_recipients_date" class="control-label requiredField" style='text-align:left;'>
                            {{form.recipients_date.label}}
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="controls">
                            {{form.recipients_date}}
                        </div>
                    </div>
                    {% if conferencista %}
                        <div id = "div_id_recipients_conference_name" class="form-group col-sm-4">
                            <label for="id_recipients_conference_name" class="control-label requiredField" style='text-align:left;'>
                                {{form.recipients_conference_name.label}}
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="controls">
                                {{form.recipients_conference_name}}
                            </div>
                        </div>
                    {% endif %} 
                    <div class="row" style="margin-top: 30px; margin-bottom: 50px">
                        <h5 class="col-sm-12"><b>Lista de destinatarios:</b></h5>
                        <div class="col-sm-12">
                            <div class="container" id="form-container">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <div class="controls">
                                            {{ form.recipients_name_0 }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <div class="controls">
                                            {{ form.recipients_email_0 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" align="center">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    <span id = "question">Enviar certificado</span>
                                    <span id="loading" style="display:none;">
                                        <p>Enviando certificados, por favor espere...</p>
                                        <i class="fas fa-circle-notch fa-spin"></i>
                                    </span>
                                </button>
                            </div>	
                        </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js_extra %}
<script type="text/javascript" src="{% static 'js/multiple_recipients_dynamic_form.js' %}"></script>
{% endblock %}