Mediante el presente mensaje se le notifica a usted que el resumen de título:

{{ resumen_title }}

De autores:

{% for author in authors %}
    {% if forloop.first %}
        {{ author }}
    {% else %}
        , {{ author }}
    {% endif %}
{% endfor %}

Ha sido debidamente arbitrado y los miembros del jurado han manifestado que presenta algunas deficiencias, por lo que el resumen NO fue aceptado. Se incluye en este correo adjuntada una carta formal que establece las observaciones y detalles pertinentes.

Atentamente
Sistema ASOVAC

Este es un correo electrónico autogenerado por el sistema ASOVAC, por favor no responder a estos mensajes.