{% extends "content_wrapper.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">
	{% include "success_messages.html" %}
	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard container">
				<h2 class="text-left">Lista de Sesiones</h2>
				<div class = "col-sm-12">
					<!-- data table -->
					<input type="hidden" id="listSesions" name="list" data-url="{% url 'sesiones:list_sesions' %}">
					
					
					<div id ="toolbar">
						<div class="btn-group">
							<button class="btn btn-block dropdown-toggle text-left" data-toggle="dropdown" data-hover="dropdown">Acciones <span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'sesiones:create_sesion' %}" type="button"><i class="fa fa-user" style="color:black"></i> Crear Sesión</a>
								</li>				
							</ul>
						</div>
					</div>

					<table id="sesion-table"
					data-toggle="table"
					data-ajax="ajaxSesions"
					data-side-pagination="server"
					data-show-export="true"
					data-toolbar="#toolbar"
					data-toolbar-align="right"
					data-pagination="true"
					data-page-size="5"
					data-page-list="[1,5,10,25,50,100, 200]"
					data-show-refresh="true"
					data-search="true"
					data-sort-name="sesion__nombre_sesion"
					data-show-toggle="true"
					data-show-columns="true"
					>
						<thead>
							<tr>
								<th data-field="sesion" data-visible="false" data-show-columns="false">ID</th>
								<th data-field="sesion__nombre_sesion" data-sortable="true" class="col-sm-2">Nombre</th>
								<th data-field="sesion__lugar" data-sortable="true" class="col-sm-1">Lugar</th>
								<th data-field="sesion__fecha_sesion" data-sortable="true" class="col-sm-1">Fecha Sesión</th>
								<th data-field="sesion__hora_inicio" class="col-sm-1">Hora de inicio</th>
								<th data-field="sesion__hora_fin" class="col-sm-1">Hora de fin</th>
								<th data-field="autor" class="col-sm-2">Coordinador</th>
								<th data-field="autor_2" class="col-sm-2">Co-coordinador</th>
								<th data-field="operate" data-events="operateEvents" data-formatter="operateSesions" data-align="center" class="col-sm-2">Acciones</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js_extra %}
{% load static %}
	<!-- js extra -->
	<script src="{% static 'js/grid.js' %}">
	</script>
	<script>
		var $table = $('#sesion-table');
		function operateSesions(value, row, index) {
			if(row.eliminar)	
			{
				var route_delete ="{% url 'sesiones:delete_sesion' 1 %}".replace(1, row.sesion__id);
				return [
					'<a class="delete-sesion" data-url="',
					route_delete,
					' "',
					'title="Eliminar" >',
					'<i class="fa fa-trash"></i>',
					'</a>'
				].join('');
			}
			console.log(row.eliminar);
	    }

	    // your custom ajax request here
		function ajaxSesions(params) {
			var route= $("#listSesions").attr("data-url");
			// console.log (route);
			//  console.log("llamada a ajax request");
			console.log(params.data);

			 $.ajax({
				 type: "post",
				 url: route,
				 data: params.data,
				 dataType: 'json',
				 success: function (data) {
					// console.log(data);
					// console.log(data.total)
					// console.log(data.query.query)
					console.log("Listando sesiones")
					params.success({
					total: data.total,
					rows: data.query.query
					});

				 }
			 });
		}


	</script> 

{% endblock %}