<nav id="sidebar-wrapper">
	<input type="hidden" name="my-sidebar" id="my-sidebar" value="1">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			{% if arbitraje_id %}
				<strong><a href="{% url 'main_app:dashboard' arbitraje_id %}">
					<i class="fas fa-list-alt"></i> Panel Principal
				</a></strong>
			{% endif %}
		</li>
		{% if "general_config" in items.sidebar_options %}
		<li>
			<div class="dropdown">
				<a href="#shortcut-submenu" data-toggle="collapse" class="dropdown-toggle submenu-toggle">Configuración General<i class="fas fa-angle-right"></i></a>
				<ul class="collapse list-unstyled sidebar-submenu" id="shortcut-submenu">
					{% if "basic_data" in items.sidebar_options %}
					<li>
						<a href="{% url 'main_app:data_basic' arbitraje_id %}">
							Datos Básicos
						</a>
					</li>
					{% endif %} 

					{% if "arbitration_state" in items.sidebar_options %}
					<li>
						<a href="{% url 'main_app:arbitration_state' arbitraje_id %}">
							Cambiar Estado del Arbitraje
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</li>
		{% endif %}

		{% if "users" in items.sidebar_options %}
		<li>
			<div class="dropdown">
				<a href="#services-submenu" data-toggle="collapse" class="dropdown-toggle submenu-toggle">Usuarios<i class="fas fa-angle-right"></i></a>
				<ul class="collapse list-unstyled sidebar-submenu" id="services-submenu">
					<li>
						<a href="{% url 'main_app:users_list' arbitraje_id %}">
							Lista de Usuarios
						</a>
					</li>
					<!-- <li>
						<a href="{% url 'main_app:user_roles' arbitraje_id %}">
							Acceso de Usuarios
						</a>
					</li> -->

					{% if "assing_general_coordinator" in items.sidebar_options %}
					<li>
						<a href="{% url 'main_app:coord_general' arbitraje_id %}">
							Asignar un Coordinador General
						</a>
					</li>
					{% endif %}

					{% if "assing_area_coordinator" in items.sidebar_options %}
					<!-- <li>
						<a href="{% url 'main_app:coord_area' arbitraje_id %}">
							Asignar un Coordinador de Área
						</a>
					</li> -->
					{% endif %}
				</ul>
			</div>
		</li>
		{% endif %}

		{% if "resources" in items.sidebar_options %}
		<li>
			<div class="dropdown">
				<a href="#resources-submenu" data-toggle="collapse" class="dropdown-toggle submenu-toggle">Recursos<i class="fas fa-angle-right"></i></a>
				<ul class="collapse list-unstyled sidebar-submenu" id="resources-submenu">
					<li>
						<a href="{% url 'recursos:resources_author' %}">
							Autores
						</a>
					</li>
					<li>
						<a href="{% url 'recursos:resources_referee' %}">
							Árbitros
						</a>
					</li>
					<li>
						<a href="{% url 'recursos:resources_event' %}">
							Eventos
						</a>
					</li>
					<li>
						<a href="{% url 'recursos:resources_sesion' %}">
							Sesión
						</a>

					</li>
					<li>
						<a href="{% url 'recursos:resources_paper' %}">
							Trabajos
						</a>
					</li>
					<li>
						<a href="{% url 'recursos:resources_asovac' %}">
							AsoVAC
						</a>
					</li>
					<li>
						<a href="{% url 'recursos:memorias' %}">
							Memorias
						</a>
					</li>
				</ul>
			</div>
		</li>
		{% endif %}

		{% if "areas_subareas" in items.sidebar_options %}
		<li>
			<a href="{% url 'main_app:arbitrations_areas_subareas' %}">
				Áreas y Subáreas
			</a>
		</li>
		{% endif %}

		{% if "authors" in items.sidebar_options %}
		<li>
			<a href="{% url 'autores:authors_list' %}">
				Autores
			</a>
		</li>
		{% endif %}

		{% if "arbiters" in items.sidebar_options %}
		<li>
			<a href="{% url 'arbitrajes:referee_list' %}">
				Árbitros
			</a>
		</li>
		{% endif %}

		{% if "assing_session" in items.sidebar_options %}
		<li>
			<a href="{% url 'arbitrajes:asignacion_de_sesion' %}">
				Asignación de Sesión
			</a>
		</li>
		{% endif %}

		{% if "jobs" in items.sidebar_options %}
		<li>
			<a href="{{ route_trabajos_sidebar }}">
				Trabajos
			</a>
		</li>
		{% endif %}

		{% if "session_arbitration" in items.sidebar_options %}
		<li>
			<a href="{% url 'sesiones:sesions_list' %}">
				Lista de Sesión de Arbitraje
			</a>
		</li>
		{% endif %}

		{% if "arbitrations" in items.sidebar_options %}
		<li>
			<a href="{% url 'arbitrajes:listado' %}">
				Arbitrajes
			</a>
		</li>
		{% endif %}
		<!-- 
		{% if trabajo_sidebar == 1 %}
		<li>
		<a href="{% url 'trabajos:trabajos' %}">
		Crear Trabajo
		</a>
		</li>
		<li>
		<a href="{% url 'autores:postular_trabajo' %}">
		Postular Trabajo
		</a>
		</li>
		{% endif %}
		-->
		{% if "events" in items.sidebar_options %}
		<li>
			<a href="{% url 'eventos:event_create' %}">
				Organizar Evento
			</a>
		</li>

			{% if "event_space" in items.sidebar_options %}
			<li>
				<a href="{% url 'sesiones:sesions_space_list' %}">
					Espacios
				</a>
			</li>
			{% endif %}

		<li>
			<a href="{% url 'eventos:event_list' %}">
				Lista de Eventos
			</a>
		</li>
		{% endif %}
	</ul>
</nav>