<!-- Sidebar -->
 <nav id="sidebar-wrapper">
  	<ul class="sidebar-nav">
    	<li class="sidebar-brand">
      		<a href="#">
        
      		</a>
    	</li>

    	{% if configuracion_general_sidebar == 1 %}
	    	<li>
	            <div class="dropdown">
	                <a href="#shortcut-submenu" data-toggle="collapse" class="dropdown-toggle submenu-toggle">Configuración general<i class="fas fa-angle-right"></i></a>
	                <ul class="collapse list-unstyled sidebar-submenu" id="shortcut-submenu">
                        {% if datos_basicos_sidebar == 1 %}
                            <li>
                                <a href="{% url 'main_app:data_basic' arbitraje_id %}">
                                    Datos básicos
                                </a>
    	                    </li>
    	                {% endif %} 

                        {% if estado_arbitrajes_sidebar == 1 %}
    	                    <li>
                                <a href="{% url 'main_app:arbitration_state' arbitraje_id %}">
                                    Estado arbitraje
                                </a>
    	                    </li>
                        {% endif %}
	                </ul>
	            </div>
			</li>
		{% endif %}

		{% if usuarios_sidebar == 1 %}
			<li>
                <div class="dropdown">
                    <a href="#services-submenu" data-toggle="collapse" class="dropdown-toggle submenu-toggle">Usuarios<i class="fas fa-angle-right"></i></a>
                    <ul class="collapse list-unstyled sidebar-submenu" id="services-submenu">
                        <li>
                            <a href="{% url 'main_app:users_list' arbitraje_id %}">
                                Lista de usuarios
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'main_app:user_roles' arbitraje_id %}">
                                Acceso de usuarios
                            </a>
                        </li>

                        {% if asignacion_coordinador_general == 1 %}
	                        <li>
                                <a href="{% url 'main_app:coord_general' arbitraje_id %}">
                                    Asignar coordinador general
                                </a>
	                        </li>
                        {% endif %}

                        {% if asignacion_coordinador_area == 1 %}
                            <li>
                                <a href="{% url 'main_app:coord_area' arbitraje_id %}">
                                    Asignar coordinador de área
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        {% endif %}

        {% if recursos_sidebar == 1%}
        	<li>
                <div class="dropdown">
                    <a href="#resources-submenu" data-toggle="collapse" class="dropdown-toggle submenu-toggle">Recursos<i class="fas fa-angle-right"></i></a>
                    <ul class="collapse list-unstyled sidebar-submenu" id="resources-submenu">
                        <li>
                            <a href="{% url 'recursos:resources_author' %}">
                                Autores
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'recursos:resources_referee' %}">
                                Arbitros
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'recursos:resources_event' %}">
                                Eventos
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'recursos:resources_arbitration' %}">
                                Arbitraje
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'recursos:resources_sesion' %}">
                                Sesión
                            </a>

                        </li>
                        <li>
                            <a href="{% url 'recursos:resources_asovac' %}">
                                AsoVAC
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        {% endif %}

        {% if areas_subareas_sidebar == 1 %}
        	<li>
                <a href="{% url 'arbitrajes:arbitrations_areas_subareas' %}">
                    Areas y Subáreas
                </a>
            </li>
        {% endif %}

        {% if autores_sidebar == 1%}
	        <li>
                <a href="{% url 'autores:authors_list' %}">
                    Autores
                </a>
	        </li>
	    {% endif %}
	        
	    {% if arbitros_sidebar == 1 %}
	        <li>
                <a href="{% url 'arbitrajes:referee_list' %}">
                    Arbitros
                </a>
	        </li>
	    {% endif %}

        {% if asignacion_de_sesion_sidebar == 1 %}
            <li>
                <a href="{% url 'arbitrajes:asignacion_de_sesion' %}">
                    Asignacion de Sesión
                </a>
            </li>
        {% endif %}

        {% if trabajos_sidebar == 1 %}
            <li>
                <a href="{{ route_trabajos_sidebar }}">
                    Trabajos
                </a>
            </li>
        {% endif %}
	        
	    {% if sesion_arbitraje_sidebar == 1%}
	        <li>
                <a href="{% url 'sesiones:sesions_list' %}">
                    Lista de sesion de arbitraje
                </a>
	        </li>
	    {% endif %}

	    {% if arbitraje_sidebar == 1 %}
	        <li>
                <a href="{% url 'arbitrajes:listado' %}">
                    Arbitraje
                </a>
	        </li>
	    {% endif %}
<!-- 
        {% if trabajo_sidebar == 1 %}
            <li>
                <a href="{% url 'trabajos:trabajos' %}">
                    Crear Trabajo
                </a>
            </li>
            <li>
                <a href="{% url 'autores:postular_trabajo' %}">
                    Postular Trabajo
                </a>
            </li>
        {% endif %}
-->
	    {% if eventos_sidebar_full == 1 %}
		    <li>
                <a href="{% url 'eventos:event_create' %}">
                    Organizar evento
                </a>
	        </li>
            {% if espacio_sidebar == 1%}
    	        <li>
                    <a href="{% url 'sesiones:sesions_space_list' %}">
                        Espacio
                    </a>
    	        </li>
            {% endif %}
            
	        <li>
                <a href="{% url 'eventos:event_list' %}">
                    Lista de eventos
                </a>
	        </li>
	    {% endif %}

    </ul>
</nav>
