 <!-- Sidebar -->
 <nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        Sidebar Header
      </a>
    </li>
    <li>
      <div class="dropdown">
        <a href="#shortcut-submenu" data-toggle="collapse" class="dropdown-toggle submenu-toggle">Configuración general<i class="fas fa-angle-right"></i></a>
        <ul class="collapse list-unstyled sidebar-submenu" id="shortcut-submenu">
            <li>
                <a href="#" class ="submenu-item">Datos básicos</a>
            </li>
            <li>
                <a href="#" class ="submenu-item">Estado de arbitraje</a>
            </li>
        </ul>
      </div>
    </li>

    <li>
      <div class="dropdown">
        <a href="#services-submenu" data-toggle="collapse" class="dropdown-toggle submenu-toggle">Usuarios<i class="fas fa-angle-right"></i></a>
        <ul class="collapse list-unstyled sidebar-submenu" id="services-submenu">
            <li>
                <a href="#" class ="submenu-item">Lista de usuarios</a>
            </li>
            <li>
                <a href="#" class ="submenu-item">Acceso de usuarios</a>
            </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">Recursos</a>
    </li>
    <li>
      <a href="#">Areas y Subáreas</a>
    </li>
  </ul>
</nav>