{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="col-sm-3">
					<h2 class="text-left">Lista de trabajos</h2>
				</div>
				<br>
				<table class="table table-bordered gray-header">
					<thead>
						<tr>
							<th class="col-sm-3">Título</th>
							<th class="col-sm-3">Autor(es)</th>
							<th class="col-sm-1">Versión</th>
							<th class="col-sm-3">Estatus</th>
							<th class="col-sm-2">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Este es un T&iacute;tulo</td>
							<td>Rabindranath Ferreira</td>
							<td>2.0</td>
							<td><span class="label label-success lb-md center-block">Aprobado</span></td>
							<td class="text-center" >
								<a href="{% url 'arbitrajes:detalles_resumen' %}" class="btn btn-info" role="button">
									<i class="fa fa-comment"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td>Un título interesante</td>
							<td>
								Fulanito Zambrano
							</td>
							<td class="col-sm-1">1.0</td>
							<td><span class="label label-warning lb-md center-block">Pendiente</span></td>
							<td class="text-center" >
								<a href="{% url 'arbitrajes:detalles_resumen' %}" class="btn btn-info" role="button">
									<i class="fa fa-comment"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}