{% extends "content_wrapper.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block inner_content %}
<div class="container col-sm-10 col-sm-offset-1" id="content-wrapper">
    {% include "toggle_title.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron RLcard">
                {% include "errors_form.html" %}
                {% include "success_messages.html" %}
                <h2 class="text-left">Lista de Trabajos</h2>

                <div class="table-responsive">
                    <table class="table table-bordered" id="job-list"
                        data-toggle="table"
                        data-search="true"
                        data-sort-name="titulo_espanol"
                        data-pagination="true"
                        data-page-size="10"
                        data-page-list="[5,10,25,50,100, 200]"
                        data-show-toggle="true"
                        data-show-columns="true">

                        <thead>
                            <tr>
                                <th class="col-sm-1" data-sortable="true">Estatus</th>
                                <th class="col-sm-2" data-sortable="true">Área</th>
                                <th class="col-sm-2" data-sortable="true">Subárea</th>
                                <th data-field="titulo_espanol" class="col-sm-3" data-sortable="true" data-switchable="false">Título</th>
                                <th class="col-sm-2">Autor(es)</th>  
                                <th class="col-sm-2" data-switchable="false">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">

                            {% for trabajo, autor_list in job_data %}
                            <tr>
                                <td class="text-center">
                                    {% if trabajo.trabajo.estatus == "Pendiente" %}
                                        <span class="label label-warning">Pendiente</span>
                                    {% elif trabajo.trabajo.estatus == "Aceptado" %}
                                        <span class="label label-success">Aceptado</span>
                                    {% elif trabajo.trabajo.estatus == "Rechazado" %}
                                        <span class="label label-danger">Rechazado</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">{{trabajo.trabajo.subareas.first.area}}</td>
                                <td class="text-center">{{trabajo.trabajo.subareas.first.nombre}}</td>
                                <td class="text-center">{{trabajo.trabajo.titulo_espanol}}</td>                                
                                <td class="text-center">
                                    {% for autor in autor_list %}
                                        {{autor.autor.nombres}} {{autor.autor.apellidos}}
                                        </br>
                                    {% endfor %}
                                </td>
                                
                                <td class="text-center">
                                    {% if trabajo.pagado == False and trabajo.es_autor_principal and sistema_asovac.estado_arbitraje == 3 %}<!-- Esto es para corroborar que el trabajo no ha sido postulado-->
										<a class="show-form-add-author" data-url="{% url 'trabajos:add_author_to_job' trabajo.id %}" title="Añadir autor" role="button">
											<i class="fas fa-user"></i>
                                        </a>


										<a href="{% url 'trabajos:edit_trabajo' trabajo.trabajo.id %}" role="button" data-toggle="tooltip" data-placement="top" title="Editar">
											<i class="fas fa-edit"></i>
										</a>
                                        
										<!-- Esto es lo que hay que verificar -->
										<a class="show-form-delete" data-url="{% url 'trabajos:delete_job' trabajo.trabajo.id %}" title="Borrar" role="button">
											<i class="fas fa-times"></i>
                                        </a>
									{% elif sistema_asovac.estado_arbitraje == 5 and trabajo.es_autor_principal and trabajo.trabajo.requiere_arbitraje %}

                                        <a class="show-form-add-new-version-to-job" data-url="{% url 'trabajos:add_new_version_to_job' trabajo.trabajo.id %}" title="Crear nueva versión del trabajo" role="button">
                                            <i class="fas fa-book"></i>
                                        </a>

                                    {% endif %}
                                    {% if trabajo.trabajo.observaciones %}
                                        <a class="show-referee-observations" data-url="{% url 'trabajos:view_referee_observation' trabajo.trabajo.id %}" title="Crear nueva versión del trabajo" role="button">
                                            <i class="fas fa-flag"></i>
                                        </a>
                                    {% endif %}
                                    <a href="{% url 'autores:postular_trabajo' trabajo.trabajo.id %}" role="button" data-toggle="tooltip" data-placement="top" title="Pagos de postulación">
                                        <i class="far fa-newspaper"></i>
                                    </a>
                                    <a href="{% url 'trabajos:detalles_trabajo' trabajo.trabajo.id %}" role="button" title="Ver trabajo">
										<i class="fas fa-eye"></i>
									</a>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                    <!-- End table  -->
                </div>

				{% if sistema_asovac.estado_arbitraje == 3 %}
					<div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#accordion" class="btn btn-info btn-block" data-toggle="collapse">Crear Trabajo</a>
                        </div>
                        <div id="accordion" class="panel-body collapse">
                            <div class="container-fluid">
                                <div class="row middle-content">
                                    <div class="col-sm-12">
                                        <form method="POST" id="create-job-form" enctype="multipart/form-data" action="{% url 'trabajos:trabajos' %}">
                                            {% crispy form %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				{% endif %}
                <!--end jumbotrom -->
            </div>
        </div>
    </div>
</div>


{% endblock %}
