{% extends "content_wrapper_with_sidebar.html" %}

{% block inner_content %}
<div class="container" id="content-wrapper">

	{% include "toggle_title.html" %}

	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="row middle-content">
					<div class="col-sm-6">
						<h2 class="text-left">Lista de trabajos</h2>
					</div>
					<div class="col-sm-4">
						<form class="form-inline text-right">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
								</span>
							</div>
						</form>
					</div>
					<div class="col-sm-2 btn-lg">
						<div class="btn-group">
							<button class="btn btn-block dropdown-toggle text-left" data-toggle="dropdown" data-hover="dropdown">Acciones <span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li>
									<a href="#" type="button" data-toggle="modal" data-target="#ModalTrabajosExcel"><i class="fa fa-file-excel" id="menu-toggle-icon" style="color:black"></i> Importar Trabajos</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<br>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Autor principal</th>
							<th>Título</th>
							<th>Forma de presentación</th>
							<th>Área</th>
							<th>Subárea</th>
							<th >Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Pedro Perez</td>
							<td>Trabajo 1</td>
							<td>Cartel</td>
							<td>Biociencias</td>
							<td>Nutrición</td>
							<td class="text-center">
								<a href="{% url 'trabajos:jobs_edit'%}" class="btn btn-sm btn-info" role="button"  data-toggle="tooltip" title="Editar">
									<i class="fas fa-edit"></i>
								</a>
								<a href="#" class="btn btn-sm btn-info" role="button"  title="Eliminar">
									<i class="fas fa-times"></i>
								</a>
								<a href="#" class="btn btn-sm btn-info" role="button" title="Enviar">
									<i class="fas fa-envelope"></i>
								</a>
								<a href="" class="btn btn-sm btn-info" role="button" title="Entrar">
									<i class="fas fa-door-open"></i>
								</a>
								<a href="" class="btn btn-sm btn-info" role="button" title="Comentar">
									<i class="fa fa-comment"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal Carga Excel-->
<div class="modal fade" id="ModalTrabajosExcel" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="ModalLongTitle">Cargar arbitros por excel</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center content-modal">
					¿Está seguro que desea cargar trabajos por el excel?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary btn-success">Cargar</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


