{% extends "content_wrapper.html" %}
{% block inner_content %}
<div class="container col-sm-10 col-sm-offset-1" id="content-wrapper">
     <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron RLcard">
                <div class="row">
                    <div class="col-sm-5">
                        <h2 class="text-center"><strong>Datos del resumen</strong></h2> 
                    </div>
                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="row middle-content">
                            <div class="col-sm-10">
                                <a href="{% url 'trabajos:trabajos' %}" class="btn btn-warning btn-block btn-lg"><i class="fas fa-arrow-alt-circle-left"></i> Atrás</a>
                            </div>
                        </div>
                    </div>
                </div>


                <br>
                <div class="container-fluid top-margin-18">
                    <div class="row middle-content">
                        <div class="col-sm-5">
                            <p class="p-md">
                                <strong>Título Español:</strong> {{ autor_trabajo.trabajo.titulo_espanol }}
                            </p>
                            {% if autor_trabajo.trabajo.titulo_ingles %}
                                <p class="p-md">
                                    <strong>Título Inglés:</strong> {{ autor_trabajo.trabajo.titulo_ingles }}
                                </p>
                            {% endif %}
                            {% if autor_trabajo.trabajo.palabras_clave %}
                                <p class="p-md">
                                    <strong>Palabras Clave:</strong> {{ autor_trabajo.trabajo.palabras_clave }}
                                </p>
                            {% endif %}
                            <p class="p-md">
                                <strong>Forma de Presentación:</strong> {{ autor_trabajo.trabajo.get_forma_presentacion_display }}
                            </p>
                            <p class="p-md">
                                <strong>Área:</strong> {{ autor_trabajo.trabajo.subareas.first.area }}
                            </p>
                            <p class="p-md">
                                <strong>Subáreas:</strong> {% for subarea in autor_trabajo.trabajo.subareas.all %} {{ subarea }} {% if subarea != autor_trabajo.trabajo.subareas.all.last %}, {% endif %} {% endfor %}
                            </p>
                            {% if autor_trabajo.trabajo.subarea2 %}
                                <p class="p-md">
                                    <strong>Subarea 2:</strong> {{ autor_trabajo.trabajo.subarea2 }}
                                </p>
                            {% endif %}
                            {% if autor_trabajo.trabajo.subarea3 %}
                                <p class="p-md">
                                    <strong>Subarea 3:</strong> {{ autor_trabajo.trabajo.subarea3 }}
                                </p>
                            {% endif %}
                            {% if autor_trabajo.trabajo.documento_inscrito %}
                                <p class="p-md">
                                    <strong>Documento Inscrito:</strong> {{ autor_trabajo.trabajo.documento_inscrito }}
                                </p>
                            {% endif %}
                            {% if autor_trabajo.trabajo.url_trabajo %}
                                <p class="p-md">
                                    <strong>URL del trabajo:</strong> {{ autor_trabajo.trabajo.url_trabajo }}
                                </p>
                            {% endif %}
                            {% if autor_trabajo.trabajo.version %}
                                <p class="p-md">
                                    <strong>Versión:</strong> {{ autor_trabajo.trabajo.version }}
                                </p>
                            {% endif %}
                            <p class="p-md">
                                <strong>Estatus:</strong>   
                                {% if autor_trabajo.trabajo.estatus == "Pendiente" %}
                                  <span class="label label-warning lb-md">Pendiente</span>
                                {% elif autor_trabajo.trabajo.estatus == "Aprobado" %}
                                  <span class="label label-success lb-md">Aprobado</span>
                                {% elif autor_trabajo.trabajo.estatus == "Rechazado" %}
                                  <span class="label label-danger lb-md">Rechazado</span>
                                {% endif %} 
                            </p>
                            <p class="p-md">
                                <strong>Resumen:</strong> {{ autor_trabajo.trabajo.resumen }}
                            </p>
                            {% if autor_trabajo.trabajo.observaciones %}
                                <p class="p-md">
                                    <strong>Observaciones:</strong> {{ autor_trabajo.trabajo.observaciones }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="col-sm-7">
                            <div class="preview-pdf">
                                <object data="{{ autor_trabajo.trabajo.archivo_trabajo.url }}" type="application/pdf" width="100%" height="600px">
                                    <iframe src="{{autor_trabajo.trabajo.archivo_trabajo.url }}" width="100%" height="100%" style="border: none;">
                                    Este navegador no soporta PDFs. Por favor descarga el PDF para verlo:<a href="{{autor_trabajo.trabajo.archivo_trabajo.url}}">Descargar PDF</a>
                                    </iframe>
                                </object>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- EndFirst Row -->

</div>

{% endblock %}