{% extends "base_users.html" %}
{% block content %}
<div class="login-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="jumbotron RLcard">
                    <div class="container-fluid">
                        <div class="row middle-content">
                            <div class="col-sm-10">
                                <h2>Autor - Lista de trabajos evaluados</h2>
                            </div>
                            <div class="col-sm-2">
                                <a href="{% url 'trabajos:trabajos' %}" class="btn btn-warning btn-block">Atrás</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row middle-content">
                                <div class="col-sm-3">
                                    <p>Titulo</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>Autor(es)</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>Versión</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>Status</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">         
                                <div class="row middle-content">
                                    <div class="col-sm-3">
                                        <p>Title 1</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>Juanito Peréz</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>1.0</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p style="color: yellow;">Pendiente</p>
                                    </div>
                                </div>
                                <div class="row middle-content">
                                    <div class="col-sm-3">
                                        <p>Title 2</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>Camila Rodriguez</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>2.0</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p style="color: red;">Rechazado</p>
                                    </div>
                                </div>
                                <div class="row middle-content">
                                    <div class="col-sm-3">
                                        <p>Title 3</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>Victor Caballero</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>1.0</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p style="color: green;">Aprobado</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}