{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Fixed Sidebar & Content-->
<div id="wrapper" class="">

        {% include 'sidebar.html'%}
   
        <!-- Page Content -->
        <div class="container login-content" id="content-wrapper">
            <!-- Title content--> 
            <div class="row">
                <div class="col-sm-12">
                    <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">
                        <i class="fas fa-angle-double-right" id="menu-toggle-icon"></i>
                    </a>
                    <h3 class="user-title">Trabajos</h3>
                </div>
            </div>
             <!-- EndTitle content-->

             <!-- First Row -->
             <div class="row">
               <div class="col-sm-12">
                   <div class="jumbotron RLcard">
                    <div class="col-sm-3">
                        <h2 class="text-left">Lista de trabajos</h2>
                    </div>
                           <table class="table table-bordered">
                               <thead>
                                 <tr>
                                    <th class="col-sm-3">Título</th>
                                    <th class="col-sm-3">Autor(es)</th>                 
                                    <th class="col-sm-1">Versión</th>
                                    <th class="col-sm-3">Estatus</th>
                                    <th class="col-sm-2">Acciones</th>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr>
                                    <td>Este es un T&iacute;tulo</td>
                                    <td>Rabindranath Ferreira</td>
                                    <td>2.0</td>
                                    <td><span class="label label-success lb-md center-block">Aprobado</span></td>
                                    <td class="text-center" >
                                         <a href="#" class="btn btn-info" role="button">
                                             <i class="fas fa-edit"></i>
                                         </a>
                                         <a href="" class="btn btn-info" role="button">
                                             <i class="fa fa-comment"></i>
                                         </a>
                                    </td>
                                  </tr>
                                 <tr>
                                    <td>Un título interesante</td>
                                    <td>
                                        Fulanito Zambrano
                                    </td>
                                    <td class="col-sm-1">1.0</td>
                                    <td><span class="label label-warning lb-md center-block">Pendiente</span></td>
                                    <td class="text-center" >
                                         <a href="#" class="btn btn-info" role="button">
                                             <i class="fas fa-edit"></i>
                                         </a>
                                         <a href="" class="btn btn-info" role="button">
                                             <i class="fa fa-comment"></i>
                                         </a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Funciones Diferenciales</td>
                                    <td>
                                        Rodrigo Montoya
                                    </td>
                                    <td class="col-sm-1">1.0</td>
                                    <td><span class="label label-danger lb-md center-block">Rechazado</span></td>
                                    <td class="text-center" >
                                         <a href="#" class="btn btn-info" role="button">
                                             <i class="fas fa-edit"></i>
                                         </a>
                                         <a href="" class="btn btn-info" role="button">
                                             <i class="fa fa-comment"></i>
                                         </a>
                                    </td>
                                 </tr>
                               </tbody>
                             </table>
                           <!-- End table  -->
                           
                       </div>
               </div>
             </div>
             <!-- EndFirst Row -->
   
        </div>
</div>
{% endblock %}