{% extends "content_wrapper_with_sidebar.html" %}
{% load crispy_forms_tags %}

{% block inner_content %}
<div class="container col-sm-11" id="content-wrapper">
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
				{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
				{{ message }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% include "errors_form.html" %}
	{% include "toggle_title.html" %}


	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron RLcard">
				<div class="col-sm-12">
					<h2 class="text-left">Autor - Lista de trabajos</h2>
				</div>


				<br>
				<table class="table table-bordered" id = "show-job">
					<thead>
						<tr>
							<th class="col-sm-2">Título</th>
							<th class="col-sm-2">Área</th>
							<th class="col-sm-2">Subárea</th>
							<th class="col-sm-2">Autor(es)</th>
							<th class="col-sm-1">Estatus</th>
							<th class="col-sm-1">Versión</th>
							<th class="col-sm-2">Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for trabajo in trabajos %}
							<tr>
								<td style="vertical-align: middle;">{{ trabajo.trabajo.titulo_espanol }}</td>
								<td style="vertical-align: middle;">{{ trabajo.trabajo.area }}</td>
								<td style="vertical-align: middle;">{{ trabajo.trabajo.subarea1 }}</td>
								<td style="vertical-align: middle;">
									{{ trabajo.autor.nombres }} {{ trabajo.autor.apellidos }}
									<br>
									{% for autor_trabajo in autores_trabajos_list %}
										{% if autor_trabajo.autor != trabajo.autor and autor_trabajo.trabajo == trabajo.trabajo %}
											{{ autor_trabajo.autor.nombres }} {{ autor_trabajo.autor.apellidos }}
											<br>
										{% endif %}
									{% endfor %}
								</td>
								<td style="vertical-align: middle;">
									{% if trabajo.trabajo.estatus == "Pendiente" %}
										<span class="label label-warning lb-md center-block">Pendiente</span>
									{% elif trabajo.trabajo.estatus == "Aprobado" %}
										<span class="label label-success lb-md center-block">Aprobado</span>
									{% elif trabajo.trabajo.estatus == "Rechazado" %}
										<span class="label label-danger lb-md center-block">Rechazado</span>
									{% endif %}
								</td>
								<td class="col-sm-1" style="vertical-align: middle;">{{ trabajo.trabajo.version }}</td>
								<td class="col-sm-1 text-center" style="vertical-align: middle;">
									
									{% if trabajo.monto_total > 0 and trabajo.es_autor_principal %}<!-- Esto es para corroborar que el trabajo no ha sido postulado-->
										<button class="btn btn-info show-form-add-author" data-url="{% url 'trabajos:add_author_to_job' trabajo.id %}" title="Añadir autor">
											<i class="fas fa-user"></i>
										</button>


										<a href="{% url 'trabajos:edit_trabajo' trabajo.trabajo.id %}" class="btn btn-info" role="button" data-toggle="tooltip" data-placement="top" title="Editar">
											<i class="fas fa-edit"></i>
										</a>

										<!-- Esto es lo que hay que verificar -->
										<button class="btn btn-info show-form-delete" data-url="{% url 'trabajos:delete_job' trabajo.trabajo.id %}" title="Borrar">
											<i class="fas fa-times"></i>
										</button>
										
									{% endif %}
									<a href="{% url 'trabajos:detalles_trabajo' trabajo.trabajo.id %}" class="btn btn-info" role="button" title="Ver trabajo">
										<i class="fas fa-eye"></i>
									</a>
								</td>
							</tr>
						{% endfor %}              
					</tbody>
				</table>
				<!-- End table  -->
				<div class="pagination">
					<span class="step-links">
						{% if trabajos.has_previous %}
						<a href="?page={{ trabajos.previous_page_number }}">previous</a>
						{% endif %}

						<span class="current">
							Page {{ trabajos.number }} of {{ trabajos.paginator.num_pages }}.
						</span>

						{% if trabajos.has_next %}
						<a href="?page={{ trabajos.next_page_number }}">next</a>
						{% endif %}
					</span>
				</div>



				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#accordion" class="btn btn-info btn-block" data-toggle="collapse">Crear Trabajo</a>
					</div>
					<div id="accordion" class="panel-body collapse">
						<div class="container-fluid">
							<div class="row middle-content">
								<div class="col-sm-12">
									<form method="POST" id="create-job-form" enctype="multipart/form-data" action="{% url 'trabajos:trabajos' %}">
										{% crispy form %}
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- EndFirst Row -->

</div>




{% endblock %}