{% extends "content_wrapper.html" %} 
{% load crispy_forms_tags %}
{% load static %} 
{% block inner_content %}
<div class="container col-sm-10 col-sm-offset-1" id="content-wrapper">
    {% include "success_messages.html" %}
	{% include "errors_form.html" %}
    {% include "toggle_title.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron RLcard">
                <h2 class="text-left">Lista de Trabajos</h2>

                <div class="table-responsive">
                    <table class="table table-bordered" id="job-list" 
                        data-toggle="table" 
                        data-search="true" 
                        data-sort-name="titulo_espanol"  
                        data-pagination="true" 
                        data-page-size="10" 
                        data-page-list="[5,10,25,50,100, 200]"
                        data-show-toggle="true" 
                        data-show-columns="true">
                        <!-- if event_place_data   -->
                        
                        <thead>
                            <tr>
                                <th data-field="titulo_espanol" class="col-sm-3" data-sortable="true" data-switchable="false">Título</th>
                                <th class="col-sm-2" data-sortable="true">Área</th>
                                <th class="col-sm-2" data-sortable="true">Subárea</th>
                                <th class="col-sm-2">Autor(es)</th>
                                <th class="col-sm-1" data-sortable="true">Estatus</th>
                                <th class="col-sm-2" data-switchable="false">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">

                            <!--  for place_data in event_place_data  -->
                            {% for trabajo, autor_list, trabajo_last_version in job_data %}
                            <tr>
                                <td class="text-center">{{trabajo_last_version.titulo_espanol}}</td>
                                <td class="text-center">{{trabajo_last_version.subareas.first.area}}</td>
                                <td class="text-center">{{trabajo_last_version.subareas.first.nombre}}</td>
                                <td class="text-center">
                                    {% for autor in autor_list %}
                                        {{autor.autor.nombres}} {{autor.autor.apellidos}}
                                        </br>
                                    {% endfor %}
                                </td>
                                <td class="text-center">
                                    {% if trabajo_last_version.estatus == "Pendiente" %}
										<span class="label label-warning lb-md center-block">Pendiente</span>
									{% elif trabajo_last_version.estatus == "Aprobado" %}
										<span class="label label-success lb-md center-block">Aprobado</span>
									{% elif trabajo_last_version.estatus == "Rechazado" %}
										<span class="label label-danger lb-md center-block">Rechazado</span>
									{% endif %}
                                </td>
                                <td class="text-center">
                                    {% if trabajo.monto_total > 0 and trabajo.es_autor_principal and sistema_asovac.estado_arbitraje == 3 %}<!-- Esto es para corroborar que el trabajo no ha sido postulado-->
										<button class="btn btn-info show-form-add-author" data-url="{% url 'trabajos:add_author_to_job' trabajo.id %}" title="Añadir autor">
											<i class="fas fa-user"></i>
										</button>


										<a href="{% url 'trabajos:edit_trabajo' trabajo.trabajo.id %}" class="btn btn-info" role="button" data-toggle="tooltip" data-placement="top" title="Editar">
											<i class="fas fa-edit"></i>
										</a>


										<!-- Esto es lo que hay que verificar -->
										<button class="btn btn-info show-form-delete" data-url="{% url 'trabajos:delete_job' trabajo.trabajo.id %}" title="Borrar">
											<i class="fas fa-times"></i>
										</button>
									{% elif sistema_asovac.estado_arbitraje == 5 and trabajo.es_autor_principal and trabajo_last_version.requiere_arbitraje %}	
                                        
                                        <button class="btn btn-info show-form-add-new-version-to-job" data-url="{% url 'trabajos:add_new_version_to_job' trabajo_last_version.id %}" title="Crear nueva versión del trabajo">
                                            <i class="fas fa-book"></i>
                                        </button>
                                    
                                    {% endif %}

                                    <a href="{% url 'trabajos:detalles_trabajo' trabajo_last_version.id %}" class="btn btn-info" role="button" title="Ver trabajo">
										<i class="fas fa-eye"></i>
									</a>
                                </td>
                            </tr>
                            <!--  endfor   -->
                            {% endfor %}
                        </tbody>
                         <!--    else   -->
                       

                        <!-- <div class="well well-lg">
                                <img src="{% static 'images/ico.info.png' %}" class="img-responsive center-block" alt="Info">
                                <strong><h2 class="text-center">No Hay Informacion Disponible</h2></strong>
                            </div>                                                                
                        -->
                         <!--   endif    -->
                        
                    </table>
                    <!-- End table  -->
                </div>

				{% if sistema_asovac.estado_arbitraje == 3 %}
					<div class="panel panel-default">
							<div class="panel-heading">
								<a href="#accordion" class="btn btn-info btn-block" data-toggle="collapse">Crear Trabajo</a>
							</div>
							<div id="accordion" class="panel-body collapse">
								<div class="container-fluid">
									<div class="row middle-content">
										<div class="col-sm-12">
											<form method="POST" id="create-job-form" enctype="multipart/form-data" action="{% url 'trabajos:trabajos' %}">
												{% crispy form %}
											</form>
										</div>
									</div>
								</div>
							</div>
					</div>
				{% endif %}
                <!--end jumbotrom -->
            </div>
        </div>
    </div>
</div>


{% endblock %}