{% load crispy_forms_tags %}
<form method="post" class="create-form" data-url="{% url 'main_app:crear_usuario' %}">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" >Crear usuario</h4>
    </div>
    <div class="modal-body">
        
        <div id="div_id_first_name" class="form-group">
            <label for="first_name" class="control-label  requiredField">
              Nombres
              <span class="asteriskField">*</span>
            </label>
            <div class="controls ">
              <input type="text" name="first_name" id="first_name" required="" class="textinput textInput form-control" maxlength="100">
            </div>
          </div>

          <div id="div_id_last_name" class="form-group">
            <label for="last_name" class="control-label  requiredField">
              Apellidos
              <span class="asteriskField">*</span>
            </label>
            <div class="controls ">
              <input type="text" name="last_name" id="last_name" required="" class="textinput textInput form-control" maxlength="100">
            </div>
          </div>

          <div id="div_id_email" class="form-group">
            <label for="email" class="control-label  requiredField">
              Correo electrónico
              <span class="asteriskField">*</span>
            </label>
            <div class="controls ">
              <input type="email" name="email" id="email" required="" class="textinput textInput form-control" maxlength="100">
            </div>
          </div>

          <div id="div_id_username" class="form-group">
            <label for="username" class="control-label  requiredField">
              Nombre de usuario
              <span class="asteriskField">*</span>
            </label>
            <div class="controls ">
              <input type="text" name="username" id="username" required="" class="textinput textInput form-control" maxlength="100">
            </div>
          </div>
          <div id="div_id_new_password1" class="form-group">
            <label for="id_new_password1" class="control-label  requiredField">
              Contraseña
              <span class="asteriskField">*</span>
            </label>
            <div class="controls ">
              <input type="password" name="password1" required="" id="password1" class="form-control">
            </div>
          </div>
        
          <div id="div_id_new_password2" class="form-group">
            <label for="id_new_password2" class="control-label  requiredField">
              Confirme contraseña
              <span class="asteriskField">*</span>
            </label>
            <div class="controls was-validated">
              <input type="password" name="password2" required="" id="password2" class="form-control">
            </div>
          </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>