{% load crispy_forms_tags %}
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Añadir organizador al evento: {{ evento.nombre }}</h3>
</div>
<form method="POST" class="add-organizer-to-event-form" data-url="{% url 'eventos:add_organizer_to_event' evento.id %}">
    <div class="modal-body">
        {% csrf_token %}
        {{ form | crispy }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-lg btn-primary">Añadir</button>
    </div>
</form>