{% load crispy_forms_tags %}
<div class="modal-header">
    <div class="row text-center">
        {% include "success_messages.html" %}
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="row">    
        <h3 class="modal-title col-sm-8" >Registrando autor en aplicación de arbitrajes: </h3>
    </div>
</div>
<form method="POST" class="author-create-author-form" data-url="{% url 'main_app:create_autor_instance_modal' request.user.id %}">
    <div class="modal-body">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="form-group">
            <label class="control-label col-sm-12 requiredField" for="university_select"> Universidad(Si no está en la lista, seleccione la opción para añadirla) <span class="asteriskField">*</span></label>	
            <div class="controls was-validated" name="university" >
                <select name="university_select" class="form-control" id="university_select" required>
                    <option value="">Seleccione una universidad</option>
                    {% for universidad in universidades %}
                        <option value="{{universidad.id}}">{{ universidad.nombre }}</option>
                    {% endfor %}
                    <option value="-1">Añadir universidad</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">Registrar</button>
    </div>
</form>
