
{% load crispy_forms_tags %}

{% if tipo == "show" %}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Detalle del Árbitro</h3>
    </div>

    <div class="modal-body">
		
        <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th>Nombres</th>
                    <td>{{arbitro.nombres}}</td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td>{{arbitro.apellidos}}</td>
                </tr>
                <tr>
                    <th>Género</th>
                    <td>{{arbitro.genero}}</td>
                </tr>
                <tr>
                    <th>Correo Electrónico</th>
                    <td>{{arbitro.correo_electronico}}</td>
                </tr>
                <tr>
                    <th>Cédula o Pasaporte</th>
                    <td>{{arbitro.cedula_pasaporte}}</td>
                </tr>
                <tr>
                    <th>Título</th>
                    <td>{{arbitro.titulo}}</td>
                </tr>
                <tr>
                    <th>Línea de Investigación</th>
                    <td>{{arbitro.linea_investigacion}}</td>
                </tr>
                <tr>
                    <th>Teléfono Oficina</th>
                    <td>{{arbitro.telefono_oficina}}</td>
                </tr>
                <tr>
                    <th>Teléfono de Habitación o Celular</th>
                    <td>{{arbitro.telefono_habitacion_celular}}</td>
                </tr>
                <tr>
                    <th>Institución donde trabaja</th>
                    <td>{{arbitro.institucion_trabajo}}</td>
                </tr>
                <tr>
                    <th>Datos de la Institución</th>
                    <td>{{arbitro.datos_institucion}}</td>
                </tr>
                <tr>
                    <th>Observaciones</th>
                    <td>{{arbitro.observaciones}}</td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg" id="tableButtonClose" data-dismiss="modal">Cerrar</button>
    </div>

{% else %}
    {% if tipo == "edit" %}
    {% load crispy_forms_tags %}
    {% include "errors_form.html" %}
        <form method="post" class="editarArbitro" data-url="{% url 'arbitrajes:editarArbitro' arbitro_id %}">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" >Editar Árbitro</h3>
            </div>
            
            <div class="modal-body">
                    {{  form | crispy }}
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary btn-lg" id="tableButtonSave">Guardar</button>
            </div>
        </form>
    {% else %}
        {% if tipo == "delete" %}
        <form method="post" id="eliminarArbitro" class="eliminarArbitro" data-url="{% url 'arbitrajes:eliminarArbitro' user.id %}">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" >Eliminar Árbitro</h3>
            </div>
        
            <div class="modal-body">
                    <p>¿Desea eliminar el árbitro {{arbitro.nombres }} {{arbitro.apellidos }}?</p>
            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg"  data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-danger btn-lg" >Eliminar</button>
            </div>
        </form>
        {% else %}
            {% if tipo == "deleted" %}
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" >Árbitro eliminado</h3>
            </div>
            
            <div class="modal-body">
                <p>El árbitro {{arbitro.nombres }} {{arbitro.apellidos }} se elimino de manera exitosa.</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-danger" >Eliminar</button>
            </div>
            
            {% else %}

                {% if tipo == "removeSubareaArbitro" %}
                <form method="post" id="eliminarArbitro" class="eliminarArbitro" data-url="{% url 'arbitrajes:adminRemoveSubarea' id subarea.id %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" >Eliminar Árbitro</h3>
                    </div>
                
                    <div class="modal-body">
                            <p>¿Desea eliminar la subárea {{subarea.nombre}}?</p>
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-lg"  data-dismiss="modal">Cerrar</button>
                        <button type="button" class="sendGenericForm btn btn-danger btn-lg" >Eliminar</button>
                    </div>
                </form>

                {% else %}
                    {% if tipo == "addSubareaArbitro" %}
                    <form method="post" id="" class="" data-url="{% url 'arbitrajes:adminAddSubareas' user_id %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" >Agregar Subáreas</h3>
                        </div>
                    
                        <div class="modal-body">
                            
                            <table class="table table-bordered">
                                <thead>
                                    <th>Subárea</th>
                                    <th>Código</th>
                                    <th style="text-align: center" >Asignar</th>
                                </thead>
                                {% for subarea in subareas %}
                                    {% if subarea.area_id == area.id %}
                                <tr>
                                    <td>{{subarea.nombre}} </td>
                                    <td>{{subarea.codigo}} </td>
                                    <!-- <td>{{arbitro.correo_electronico}} {{arbitro.trabajo_id}} {{trabajo_id}} </td> -->
                                    <td class="text-center" style="text-align: center">
                                        <label class="contentCheck">
                                                <input name="subareas_value[]" data-area="{{subarea.id}}" type="checkbox" id="{{subarea.id}}" >
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>

                        </div>
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-lg"  data-dismiss="modal">Cerrar</button>
                            <button type="button" class="adminAddSubareas btn btn-primary btn-lg" >Guardar</button>
                        </div>
                    </form>
                    <script>
                        $('input[type=checkbox]').each(function () {

                            // console.log("No seleccionados");
                            var check=$(this).attr('data-area');
                            var area=  "{{area}}";
                            var subareas=  "{{subareas_user}}";

                            subareas= JSON.parse(subareas);

                            // console.log(area);
                            // console.log(subareas);
                            // console.log(check);
                            // console.log(subareas.indexOf(parseInt(check)));
                            result= subareas.indexOf(parseInt(check));
                            // console.log("El resultado es: "+ result);
                            if (result >= 0 ) {
                                $(this).prop("checked", true);
                                // console.log("seleccionado"+" Estatus "+estatus );
                            } else {
                                $(this).prop("checked", false);
                                // console.log("No seleccionado");
                            }

                        });
                    </script>
                    {% else %}
                        {% if tipo == "changeAreaArbitro" %}
                        <form method="post" id="" class="" data-url="{% url 'arbitrajes:adminChangeAreas' user_id %}">
                            {% csrf_token %}
                            <div class="tab-content">
                                <div id="areas" class="tab-pane fade in active">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h3 class="modal-title" >Cambio de  Áreas</h3>
                                    </div>
                            
                                    <div class="modal-body">
                                        
                                        <table class="table table-bordered">
                                            <thead>
                                                <th>Área</th>
                                                <th>Código</th>
                                                <th style="text-align: center" >Asignar</th>
                                            </thead>
                                            {% for area in areas %}
                                            <tr>
                                                <td>{{area.nombre}} </td>
                                                <td>{{area.codigo}} </td>
                                                <!-- <td>{{arbitro.correo_electronico}} {{arbitro.trabajo_id}} {{trabajo_id}} </td> -->
                                                <td class="text-center" style="text-align: center">
                                                    <label class="contentCheck">
                                                            <input class="getSubareas" name="areas_value" value="{{area.id}}" data-area="{{area.id}}" type="radio" id="{{area.id}}"  >
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
            
                                    </div>
                            
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn-lg"  data-dismiss="modal">Cerrar</button>
                                        <button type="button" href="#subareas" data-toggle="pill" disabled class=" next btn btn-primary btn-lg" >Siguiente</button>
                                    </div>
                                </div>
                                <!-- Sección para seleccionar subareas -->
                                <div id="subareas" class="tab-pane fade">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h3 class="modal-title" >Agregar Subáreas</h3>
                                    </div>
                                    
                                    {% include 'ajax/load_subareas_arbitro.html' %}
                                    
                                    <div class="modal-footer">
                                        <a data-toggle="pill" href="#areas" type="button" class="btn btn-danger btn-lg" >Regresar</a>
                                        <button type="button" disabled class="send btn btn-primary btn-lg" >Guardar</button>
                                    </div>
                                </div>
                                <!-- Sección para seleccionar subareas -->
                            </div>
                        </form>
                        <script>
                            $("input[name='areas_value']").on('change', function (e) {
                                
                                $('.next').attr('disabled',false);
                                var route=window.location.origin+'/arbitrajes/'+$(this).attr("class")+"/"+$(this).val();
                                // console.log(route);
                        
                                $.ajax({
                                    type: "post",
                                    url: route,
                                    data: $(this).val(),
                                    dataType: "json",
                                    success: function (response) {
                                        if(response.status == 200){
                                            $(".subareas-content").html(response.content);
                                        }
                                        
                                    }
                                });
                            });
                            
                            var SelectSubarea= function (subarea){
                                // console.log("se selecciona "+subarea);
                                var select=0;
                                $('input[name=subareas_value]').each(function () {

                                // console.log($(this).prop("checked"));
                                // console.log($(this).val());
                                if ($(this).prop("checked") ) {
                                    // $(".send").attr('disabled',false);
                                    select++;
                                } 

                                });
                                
                                if(select > 0 ){
                                    $('.send').attr('disabled',false);
                                }else{
                                    $('.send').attr('disabled',true);
                                }
                            }

                            $(".send").on('click', function (e) {
                                console.log("Para enviar formulario");

                                // var route=window.location.origin+'/arbitrajes/'+$(this).attr("class")+"/"+$(this).val();
                                form=$(this).parent().parent().parent().parent();
                                route=form.attr("data-url");
                                console.log(form.attr("data-url"));
                        
                                $.ajax({
                                    type: "post",
                                    url: route,
                                    data: form.serialize(),
                                    dataType: "json",
                                    success: function (data) {
                                        if(data.status == 200 ){
                                            console.log('actualizacion exitosa')
                                            $('#bootstrapTableModal .modal-body').html(data.message);
                                            $('#bootstrapTableModal .modal-footer').html('<button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cerrar</button>');
                                            $('#modal-user').modal('hide');
                                            $('#table').bootstrapTable('refresh');
                                            if(data.message.search("subárea") > 0 ){
                                                $('#table2').bootstrapTable('refresh');
                                            }
                                        }else{
                                            console.log('error en la actualizacion')
                                            $('#bootstrapTableModal .modal-body').html(data.message);
                                            $('#bootstrapTableModal .modal-footer').html('<button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cerrar</button>');
                                            $('#modal-user').modal('hide');
                                        }
                                        
                                    }
                                });
                            });
                            

                        </script> 
                        {% endif %}
                    {% endif %}
                    {% endif %}
            
                    {% endif %}

        {% endif %}
    {% endif %}
{% endif %}

