
{% load crispy_forms_tags %}

{% if tipo == "show" %}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >Usuario {{user.username}}</h4>
    </div>

    <div class="modal-body">
		
        <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th>Nombres</th>
                    <td>{{user.first_name}}</td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td>{{user.last_name}}</td>
                </tr>
                <tr>
                    <th>Nombre de Usuario</th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th>Correo Electronico</th>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" id="tableButtonClose" data-dismiss="modal">Cerrar</button>
    </div>

{% else %}
    {% if tipo == "edit" %}
    {% load crispy_forms_tags %}
    {% include "errors_form.html" %}
        <form method="post" class="editarUsuario" data-url="{% url 'main_app:editarUsuario' arbitraje_id user.id %}">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >{{user.username}}</h4>
            </div>
            
            <div class="modal-body">
                    {{  form | crispy }}
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="tableButtonSave">Guardar</button>
            </div>
        </form>
    {% else %}
        {% if tipo == "delete" %}
        <form method="post" id="eliminarSubarea" class="eliminarSubarea" data-url="{% url 'main_app:eliminarUsuario' arbitraje_id user.id %}">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Eliminar Usuario</h4>
            </div>
        
            <div class="modal-body">
                {% if message == "eliminar"%}
                    <p>¿Desea eliminar el usuario {{user.username }}?</p>
                {% endif %}

            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-danger" >Eliminar</button>
            </div>
        </form>
        {% else %}
            {% if tipo == "deleted" %}
    
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Eliminar Usuario</h4>
                </div>
            
                <div class="modal-body">
                        <p>El usuario {{user.username }} se elimino de manera exitosa.</p>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"  data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger" >Eliminar</button>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

