{% load crispy_forms_tags %}
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Editar datos personales:</h3>
</div>
<form method="POST" class="save-form-stay" data-url="{% url 'main_app:edit_personal_data' %}">
    <div class="modal-body">
        <div class="row text-center">
            {% include "success_messages.html" %}
            {% include "errors_form.html" %}
        </div>
        <div class="row text-center">
            <p><strong>Roles asignados:</strong> {% for usuario_rol in usuario_rol_in_sistema %}<span class="label label-success">{{ usuario_rol.rol.nombre }}</span> {% endfor %} </p>
            <!--
                <p><strong>Subáreas asignadas:</strong> {% for subarea in usuario_asovac.sub_area.all %}<span class="label label-success">{{ subarea.nombre }}</span> {% endfor %}</p>
            -->
            <br>
        </div>
        {% csrf_token %}
        {{ form | crispy }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-lg btn-primary">Confirmar</button>
    </div>
</form>