<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" >Detalles del evento</h3>
</div>
<div class="modal-body">
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ evento.nombre }}</td>
            </tr>
            <tr>
                <th>Sistema asoVAC</th>
                <td>{{ evento.sistema_asovac }}</td>
            </tr>       
            <tr>
                <th>Categoría</th>
                <td>{{ evento.categoria }}</td>
            </tr>   
            <tr>
                <th>Descripción</th>
                <td>{{ evento.descripcion }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ evento.tipo }}</td>
            </tr>
            <tr>
                <th>Fecha de inicio</th>
                <td>{{ evento.fecha_inicio }}</td>
            </tr>
            <tr>
                <th>Fecha de fin</th>
                <td>{{ evento.fecha_fin }}</td>
            </tr>
            <tr>
                <th>Día asignado</th>
                <td>{{ evento.dia_asignado }}</td>
            </tr>
            <tr>
                <th>Duración</th>
                <td>{{ evento.duracion }}</td>
            </tr>
            <tr>
                <th>Horario preferido</th>
                <td>{{ evento.horario_preferido }}</td>
            </tr>
            <tr>
                <th>Fecha preferida</th>
                <td>{{ evento.fecha_preferida }}</td>
            </tr>
            <tr>
                <th>URL anuncio de evento</th>
                <td>{{ evento.url_anuncio_evento }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ evento.observaciones }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>
                    Nombre de organizadores
                </th>
                <th>
                    Lugares preferidos
                </th>
            </tr>
            {% for organizador_evento in organizador_evento_list%}
                <tr>
                    <td>  {{organizador_evento.organizador.nombres}} {{organizador_evento.organizador.apellidos}}  </td>
                    <td>{{ organizador_evento.locacion_preferida }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cerrar</button>
</div>