{% load crispy_forms_tags %}
<form method="post" class="delete-event-form" action="{% url 'eventos:event_delete' evento.id %}">
    {% csrf_token %}
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Eliminar evento</h3>
    </div>
    <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ evento.nombre }}</td>
                    </tr>     
                    <tr>
                        <th>Categoría</th>
                        <td>{{ evento.categoria }}</td>
                    </tr>   
                    <tr>
                        <th>Descripción</th>
                        <td>{{ evento.descripcion }}</td>
                    </tr>
                    <tr>
                        <th>Tipo</th>
                        <td>{{ evento.tipo }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de inicio</th>
                        <td>{{ evento.fecha_inicio| date:'d-m-Y' }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de fin</th>
                        <td>{{ evento.fecha_fin| date:'d-m-Y' }}</td>
                    </tr>
                    <tr>
                        <th>Hora de inicio</th>
                        <td>{{ evento.hora_inicio| date:'g:i A'  }}</td>
                    </tr>
                    <tr>
                        <th>Hora de fin</th>
                        <td>{{ evento.hora_fin| date:'g:i A'  }}</td>
                    </tr>
                    <tr>
                        <th>Día asignado</th>
                        <td>{{ evento.dia_asignado| date:'d-m-Y' }}</td>
                    </tr>
                    <tr>
                        <th>Duración</th>
                        <td>{{ evento.duracion }}</td>
                    </tr>
                    <tr>
                        <th>Horario preferido</th>
                        <td>{{ evento.horario_preferido }}</td>
                    </tr>
                    <tr>
                        <th>Fecha preferida</th>
                        <td>{{ evento.fecha_preferida| date:'d-m-Y' }}</td>
                    </tr>
                    <tr>
                        <th>URL anuncio de evento</th>
                        <td>{{ evento.url_anuncio_evento }}</td>
                    </tr>
                    <tr>
                        <th>Observaciones</th>
                        <td>{{ evento.observaciones }}</td>
                    </tr>
                </tbody>
            </table>

        
    </div>
    <div class="modal-footer">
        <strong>
            <p class ="text-center"> Confirme si desea eliminar el evento</p>
        </strong>
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-lg btn-primary">Eliminar</button>
    </div>
</form>