{% load crispy_forms_tags %}
<form method="post" class="generatePassword" action="{% url 'main_app:generate_password' arbitraje_id usuario_asovac.id %}">
    {% csrf_token %}
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Eliminar trabajo</h3>
    </div>
    <div class="modal-body text-center">
        <p> Confirme si desea generar una contraseña al siguiente usuario:</p>
        <p><strong>Nombre:</strong> {{usuario_asovac.usuario.first_name}}</p>
        <p><strong>Apellido:</strong> {{usuario_asovac.usuario.last_name}}</p>
        <p><strong>Correo Electrónico:</strong>{{ usuario_asovac.usuario.email}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-lg btn-primary">Generar clave</button>
    </div>
</form>