{% load crispy_forms_tags %}
<form method="post" class="delete-job-form" action="{% url 'trabajos:delete_job' trabajo.id %}">
    {% csrf_token %}
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Eliminar trabajo</h3>
    </div>
    <div class="modal-body text-center">
        <p> Confirme si desea eliminar el siguiente trabajo:</p>
        <strong>Título:</strong> <p>{{ trabajo.titulo_espanol }} </p>
        <strong>Área:</strong> <p> {{ trabajo.area }} </p>
        <strong>Subarea1:</strong> <p> {{ trabajo.subarea1 }}</p>
        {% if trabajo.subarea2 %}
            <strong>Subarea2:</strong> <p> {{ trabajo.subarea2 }}</p>
        {% endif %}
        {% if trabajo.subarea3 %}
            <strong>Subarea3:</strong> <p> {{ trabajo.subarea3 }}</p>
        {% endif %}
        <strong>Resumen:</strong> <p>  {{trabajo.resumen}}</p>
        {% if trabajo.url_trabajo %}
            <strong>URL del trabajo:</strong> <p> {{ trabajo.url_trabajo }} </p>
        {% endif %}
        {% if trabajo.version %}    
            <strong>Versión:</strong> <p> {{ trabajo.version }}</p>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">Eliminar</button>
    </div>
</form>