<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" >Observaciones del trabajo: {{ trabajo_version_final.trabajo.titulo_espanol}}
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h4>Observaciones del árbitro:</h4>
            {% if trabajo_version_final.arbitraje.observaciones %}
                <p>{{ trabajo_version_final.arbitraje.observaciones }}</p>
            {% else %}
                <p>Ninguna</p>
            {% endif %}

            <h4>Observaciones del autor:</h4>
            {% if trabajo_version_final.observaciones %}
                <p>{{ trabajo_version_final.observaciones }}</p>
            {% else %}
                <p>Ninguna</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cerrar</button>
</div>