{% load crispy_forms_tags %}
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Cargar {{rol}} con Excel:</h3>
</div>

<form method="POST" class="" id="loadUsersForm" enctype="multipart/form-data" action="{{action}}" data-url="{{action}}">
    <div class="modal-body">
        {% include "success_messages.html" %}
        {% csrf_token %}
        {{ form | crispy }}
        <p><strong>*</strong>El proceso de importado puede tomar algunos segundos. Por favor, espere.</p>
    </div>
    <div class="modal-footer">
        {% if format_url %}
            <a href="{{ format_url }}" class="btn btn-info btn-lg" type="button"> Descargar Formato</a>
        {% endif %}
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-lg btn-primary">Importar</button>
    </div>
</form>

<script>
     $('#loadUsersForm').submit(function(e){
        e.preventDefault();
        var input = document.getElementById('id_file');
        var formData = new FormData();
        formData.append('file',input.files[0]);
        $.ajax({
            url: $('#loadUsersForm').attr("data-url"),
            type: 'POST',
            data: formData,
            success: function(data){
                $('#table').bootstrapTable('refresh')
                $('#modal-user .modal-content').html(data.html_form)
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
</script>
