{% load crispy_forms_tags %}
<form method="post" class="delete-location-form" action="{% url 'eventos:event_place_delete' locacion.id %}">
    {% csrf_token %}
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Eliminar evento</h3>
    </div>
    <div class="modal-body">
        <p class ="text-center"> Confirme si desea eliminar el siguiente evento:</p>
        <strong>Lugar:</strong> <p>{{ locacion.lugar }}</p>
        <strong>Descripción:</strong> <p>{{ locacion.descripcion }}</p>
        <strong>Capacidad de asistentes:</strong> <p>{{ locacion.capacidad_de_asistentes }}</p>
        <strong>Obvservaciones:</strong> <p>{{ locacion.observaciones }}</p>
        <strong>Equipo requerido:</strong> <p>{{ locacion.equipo_requerido }}</p> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-lg btn-primary">Eliminar</button>
    </div>
</form>