<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Detalles de locación</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th>Lugar</th>
                    <td>{{locacion.lugar}}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>{{locacion.descripcion}}</td>
                </tr>
                <tr>
                    <th>Capacidad de asistentes</th>
                    <td>{{locacion.capacidad_de_asistentes}}</td>
                </tr>
                <tr>
                    <th>Equipo Requerido</th>
                    <td>{{locacion.equipo_requerido}}</td>
                </tr>         
                <tr>
                    <th>Observaciones</th>
                    <td>{{locacion.observaciones}}</td>
                </tr> 
            </tbody>
        </table>
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cerrar</button>
    </div>