<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" >Detalles del organizador</h3>
</div>
<div class="modal-body">
        <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th>Nombres</th>
                    <td>{{ organizador.nombres }}</td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td>{{ organizador.apellidos }}</td>
                </tr>
                <tr>
                    <th>Género</th>
                    <td>
                        {% if organizador.genero == 0 %}
                            Masculino
                        {% else %}
                            Femenino
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Cédula/Pasaporte</th>
                    <td>{{ organizador.cedula_o_pasaporte }}</td>
                </tr>
                <tr>
                    <th>Correo Electrónico</th>
                    <td>{{ organizador.correo_electronico }}</td>
                </tr>
                <tr>
                    <th>Institución</th>
                    <td>{{ organizador.institucion }}</td>
                </tr>
                <tr>
                    <th>Teléfono de oficina</th>
                    <td>{{ organizador.telefono_oficina }}</td>
                </tr>
                <tr>
                    <th>Dirección de correspondencia</th>
                    <td>{{ organizador.direccion_correspondencia }}</td>
                </tr>
                <tr>
                    <th>¿Es miembro AsoVAC?</th>
                    <td>
                        {% if organizador.es_miembro_asovac %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Capítulo AsoVAC</th>
                    <td>{{ organizador.capitulo_asovac }}</td>
                </tr>
                <tr>
                    <th>Cargo en institución</th>
                    <td>{{ organizador.cargo_en_institucion }}</td>
                </tr>
                <tr>
                    <th>URL de organizador</th>
                    <td>{{ organizador.url_organizador }}</td>
                </tr>
                <tr>
                    <th>Observaciones</th>
                    <td>{{ organizador.url_observaciones }}</td>
                </tr>
                
            </tbody>
        </table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cerrar</button>
</div>

