{% load crispy_forms_tags %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" >Datos del pagador del trabajo: {{ autor_trabajo.trabajo.titulo_espanol }}</h3>
</div>
<form method="POST" class="create-datos-pagador" data-url="{% url 'autores:postular_trabajo_pagador_modal' autor_trabajo.id step %}" novalidate>
    <div class="modal-body">
        {% csrf_token %}
        <div id="datos_pagador">
            {{ datos_pagador_form | crispy }}
        </div>
        <div id="factura">
            {{ factura_form | crispy }}
        </div>
        <div id="pagador">
            {{ pago_form | crispy }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-lg btn-primary">Añadir</button>
    </div>
</form>

<script>
    if({{ step }} == 1)
    {
        $("#factura").hide();
        $("#pagador").hide();
    }
    else if({{step}} == 2)
    {
        $("#datos_pagador").hide();
        $("#pagador").hide();
    }
    $( function(){
        $( ".dateinput" ).datepicker({ dateFormat: 'dd/mm/yy'});
    });
    $("#div_id_numero_transferencia").hide();
    $("#div_id_numero_cheque").hide();
    // Para manejar la seleccion modalidad
    $('#id_tipo_pago').change(function(){
        var tipo_pago = $(this).val();
        if (tipo_pago == "T")
        {
            $("#div_id_numero_transferencia").show();
            $("#div_id_numero_cheque").hide();
            $('#id_numero_cheque').val('');
        }
        else
        {
            $("#div_id_numero_cheque").show();
            $("#div_id_numero_transferencia").hide();
            $('#id_numero_transferencia').val('');
        }
    });
</script>