{% load crispy_forms_tags %}
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Datos de la factura del trabajo: {{ autor_trabajo.trabajo.titulo_espanol }}</h3>
</div>
<form method="POST" class="create-datos-factura" data-url="{% url 'autores:postular_trabajo_factura_modal' autor_trabajo.id %}">
    <div class="modal-body">
        {% csrf_token %}
        {{ form | crispy }}
        <strong style="font-size: 18px">*Recuerde que el IVA es de {{ autor_trabajo.sistema_asovac.porcentaje_iva }}%, será calculado automáticamente en base a su monto total indicado.</strong>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">Añadir</button>
    </div>
</form>