<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >No registrado en el sistema</h3>
</div>
<form method="POST"  action="{% url 'main_app:register_user_in_sistema' arbitraje.id %}">
    <div class="modal-body">
        {% csrf_token %}
        <p>Su usuario no está registrado en este arbitraje, si no está registrado no podrá ingresar</p>
        <p>¿Desea que obtengamos sus datos de autor para crearlo en el arbitraje?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-lg btn-primary">Sí</button>
    </div>
</form>