{% load crispy_forms_tags %}
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Actualizar roles del usuario: 
            {% if user.usuario.first_name and user.usuario.last_name %}
                <strong>{{ user.usuario.first_name }} {{ user.usuario.last_name }}</strong>
            {% else %}
                <strong>{{ user.usuario.username }}</strong>
            {% endif %}
        </h3>
</div>
<form method="POST" class="rol-form" data-url="{% url 'main_app:actualizar_rol' form.instance.id %}">
    <div class="modal-body">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group lb-md">
                    <p class="text-muted">Un usuario debe poseer por lo menos un rol.</p>
                    {{ form.rol }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancelar</button>
        <button id="test" type="submit" class="btn btn-lg btn-primary">Actualizar</button>
    </div>
</form>