    <!--EN ESTA VISTA LA VARIABLE "form" ES EN REALIDAD UN OBJETO USUARIO_ASOVAC -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" >Roles del usuario: {{ form.usuario.username }}</h4>
    </div>
    <div class="modal-body">
        <h5>Roles:
            <ul>
                {% for rol in form.rol.all %}
                    <li>{{ rol.nombre }}</li>
                {% endfor %}
            </ul>
        </h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div>
