<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" >Detalles de sesión</h4>
</div>
<div class="modal-body text-center">
    <strong>Nombre de sesión:</strong> <p>{{ sesion.nombre_sesion }} </p>
    <strong>Lugar:</strong> <p>{{ sesion.lugar }} </p>
    <strong>Fecha de sesión:</strong> <p> {{ sesion.fecha_sesion | date:'d-m-Y' }} </p>
    <strong>Hora de inicio:</strong> <p> {{ sesion.hora_inicio | time:'H-M'}}</p>
    <strong>Hora de fin:</strong> <p> {{ sesion.hora_fin | time:'H-M' }}</p>
    <strong>Capacidad:</strong> <p> {{ sesion.capacidad }} </p>
    <strong>Observaciones:</strong> <p> {{ sesion.observaciones }}</p>
    {% if sesion.video_beam %}
        <p><strong>Requiere video beam</strong></p>
    {% endif %}
    {% if sesion.portatil %}
        <p><strong>Requiere portatil</strong></p>
    {% endif %}
    {% if coordinador %}
        <strong>Coordinador:</strong> <p> {{ coordinador }}</p>
    {% endif %}
    {% if co_coordinador %}
        <strong>Co-coordinador:</strong> <p> {{ co_coordinador }}</p>
    {% endif %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
</div>