<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" >Detalles de universidad</h3>
</div>
<div class="modal-body text-center">
    <p> <strong>Nombre:</strong> {{ universidad.nombre}}</p>
    <p> <strong>Facultad:</strong> {{ universidad.facultad }}</p>
    <p> <strong>Escuela:</strong> {{ universidad.escuela}}</p> 
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cerrar</button>
</div>