{% load crispy_forms_tags %}
<form method="post" class="delete-form" data-url="{% url 'main_app:eliminar_usuario' user.id %}">
    {% csrf_token %}
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Eliminar usuario</h3>
    </div>
    <div class="modal-body">
        <p> ¿Desea eliminar el usuario <b>{{user.username}}</b> ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-lg btn-primary">Eliminar</button>
    </div>
</form>