<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" >Validación de rol</h4>
</div>
<div class="modal-body">
    <h3> Se ha completado la validación de forma exitosa, por favor presione siguiente para continuar.</h3>
</div>
<div class="modal-footer">
    {% comment %} <button type="button" class="btn btn-danger" data-dismiss="modal">Continuar</button> {% endcomment %}
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'main_app:dashboard' arbitraje_id %}" role="button"><i class="fas fa-door-open"></i> Entrar</a>
</div>